/*-----------------------INICIO----------------------------*/
header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-image: url(../images/competition.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

header .title {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
    width: 50%;
    height: 50%;
    font-size: 4em;
}

/*-----------------------COMPETIICONES--------------------*/