@font-face {
    font-family: 'urban_brush_zoneregular';
    src: url('../font/urban_brush_zone-webfont.eot');
    src: url('../font/urban_brush_zone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/urban_brush_zone-webfont.woff2') format('woff2'),
         url('../font/urban_brush_zone-webfont.woff') format('woff'),
         url('../font/urban_brush_zone-webfont.ttf') format('truetype'),
         url('../font/urban_brush_zone-webfont.svg#urban_brush_zoneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
}


/*-------------------------FUENTES-------------------------------*/
.text-normal {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

.text-footer {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

.text-big-title, .text-title-contact {
    font-family: 'urban_brush_zoneregular', sans-serif;
    font-size: 5em;
}

.text-nav-title {
    font-family: 'urban_brush_zoneregular', sans-serif;
    font-size: 1.625em;
}

.text-small-title {
    font-family: 'urban_brush_zoneregular', sans-serif;
    font-size: 2.5em;
}

.text-title {
    font-family: 'urban_brush_zoneregular', sans-serif;
    font-size: 3em;
}

.text-small {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 200;
}

/*------------------------ico nav----------------*/
#nav-ico {
    position: absolute;
    top: -50px;
    right: 16px;
    width: 30px;
    height: 30px;
    margin: 4px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-ico span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: black;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-ico span:nth-child(even) {
    left: 50%;
    border-radius: 0 4px 4px 0;
}

#nav-ico span:nth-child(odd) {
    left:0px;
    border-radius: 4px 0 0 4px;
}

#nav-ico span:nth-child(1), #nav-ico span:nth-child(2) {
    top: 0px;
}

#nav-ico span:nth-child(3), #nav-ico span:nth-child(4) {
    top: 10px;
}

#nav-ico span:nth-child(5), #nav-ico span:nth-child(6) {
    top: 20px;
}

/*------------------------ico nav animacion----------------*/
#nav-ico.open span:nth-child(1),#nav-ico.open span:nth-child(6) {
    transform: rotate(45deg);
}

#nav-ico.open span:nth-child(2),#nav-ico.open span:nth-child(5) {
    transform: rotate(-45deg);
}

#nav-ico.open span:nth-child(1) {
    left: 2px;
    top: 5px;
}
  
  #nav-ico.open span:nth-child(2) {
    left: calc(50% - 3px);
    top: 5px;
}
  
  #nav-ico.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}
  
  #nav-ico.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}
  
  #nav-ico.open span:nth-child(5) {
    left: 2px;
    top: 16px;
}
  
  #nav-ico.open span:nth-child(6) {
    left: calc(50% - 2px);
    top: 16px;
}

/*-------------------------NAV-----------------------------------*/
header nav {
    overflow-x: hidden;
    position: fixed;
    top: -150px;
    left: 0;
    width: 100vw;
    z-index: 10;
    height: 150px;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 100%);
    transition: all, .8s; 
}

.shape-nav {
    background-color: rgba(255, 255, 255, 0.98);
    top: 0px;
}

header nav a {
    text-decoration: none;
    color: black;
    transition: color, font-size, 0.25s;
}

nav .content img {
    position: absolute;
    top: 16px;
    left: 24px;
    
    width: 100px;
    height: 102px;
    margin-bottom: 16px;
}

nav .content ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;

    list-style-type: none;
}

nav .content li {
    margin-right: 30px;
}

nav .content a:hover {
    color: gray;
    font-size: 1.05em;
}

/*-------------------------FOOTER--------------------------------*/
footer {
    display: flex;
    flex-direction: column;
}

footer img {
    width: 100%;
}

footer div.content {
    display: flex;
    flex-flow: column wrap;

    background-color: black;
    width: 100%;
}

footer .links img.mainpic-white {
    width: 150px;
    height: 150px;
}

footer .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer .header-footer {
    color: white;
}

footer .links .wrapper {
    flex: 1 1 130px;

    display: flex;
    flex-flow: row nowrap;
    width: 20%;
    justify-content: center;
}

footer .links .wrapper ul {
    min-width: 230px;
}

footer .links ul, footer .links .image {
    list-style: none;
}

footer .links .image {
    align-items: center;
}

footer .links li .social {
    display: flex;
    flex-flow: row nowrap;

    margin-top: 8px;
    height: 40px;
}

footer .links li a {
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    background-size: cover;
    background-position: center center;
    transition: width, height, color, .25s;
}

footer .links li a.facebook {
    background-image: url(../images/facebook-logo-in-circular-button-outlined-social-symbol\ \(1\).svg);
}

footer .links li a.flickr {
    background-image: url(../images/flickr-social-outlined-logo-in-a-circle.svg);
}

footer .links li a.instagram {
    background-image: url(../images/instagram\ \(1\).svg);
}

footer .links li a.twitter {
    background-image: url(../images/twitter-circular-button\ \(1\).svg);
}

footer .links li a:hover {
    height: 35px;
    width: 35px;
    font-size: 1.02em;
    color: lightgray;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: ligth;
    font-family: 'Roboto', sans-serif;
}

footer .wrapper .header-footer div {
    margin-bottom: 8px;
    border-bottom: thin solid white;
    width: min-content;
    width: -moz-min-content;
}

footer .newsletter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer .newsletter .copyright, footer .newsletter form, footer .newsletter .designed-by {
    flex: 1 1 300px;
    width: 33%;
    color: white;
}

footer .newsletter .copyright {
    margin-left: 32px;
    align-self: flex-end;
    margin-bottom: 32px;
}

footer .newsletter .designed-by {
    align-self: flex-end;
    text-align: right;
    margin-bottom: 32px;
    margin-right: 32px;
}

footer .newsletter form {
    align-self: flex-end;
    margin-bottom: 32px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

footer .newsletter form p, footer .newsletter form input {
    text-align: center;
    width: 80%;
    margin-bottom: 16px;
}

footer .newsletter form input[type=text], footer .newsletter form input[type=button] {
    margin-bottom: 16px;
    background: none;
    padding-bottom: 4px;
    border: none;
    border-bottom: thin solid white;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1em;
    transition: all, .25s;  
}

footer .newsletter form input[type=button] {
    background: none;
    border: thin solid white;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 0;
    cursor: pointer;
}

footer .newsletter form input[type=button]:hover {
    color: black;
    background: white;
}

footer .newsletter form input[type=text]:hover {
    color: white;
}


/*-----------------------media navbar y footer----------------*/
@media screen and (max-width: 1100px) {
    /*---------------------------NAV----------------*/
    #nav-ico {
        position: unset;
        margin-right: 32px;
    }

    header nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-content: center;

        clip-path: none;
        height: auto;
    }

    nav .content img {
        flex: unset;

        position: unset;
        width: 50px;
        height: 50px;
        margin: 0 auto 4px 16px;
    }

    nav .content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;

        width: 100%;
    }

    nav .content ul {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        margin-top: -100%;
        transition: all .5s ;
    }

    nav .content ul li {
        margin-right: 200%;
        transition: all, 0.5s;
    }

    nav .content ul.visible {
        margin-top: 0%;
        padding: inherit;
    }

    nav .content ul li.show {
        margin-right: 0%;
    }    
    
    /*---------------------------FOOTER-------------------------*/
    footer .links > :first-child {
        order: 2;
    }

    footer .links > :nth-child(2) {
        order: 3;
    }

    footer .links > :nth-child(3) {
        flex: 1 0 100vw;
        order: 1;

        margin-bottom: 16px;
    }

    footer .links > :nth-child(4) {
        order: 4;
    }

    footer .links > :nth-child(5) {
        order: 5;
    }

    footer .newsletter > form {
        flex: 1 0 70vw;
        margin: 32px 70vw;
        order: 1;
    }

    footer .newsletter > :first-child {
        order: 2;
    }

    footer .newsletter > :last-child {
        order: 3;
    }
}


@media screen and (max-width: 830px) {
    /*---------------------------FOOTER-------------------------*/
    footer .links > :first-child {
        flex: 1 0 50%;
        order: 2;
    }

    footer .links > :nth-child(2) {
        flex: 1 0 50%;
        order: 3;
    }
    
    footer .links > :nth-child(4) {
        order: 4;
    }

    footer .links > :nth-child(5) {
        order: 5;
    }

    footer .newsletter {
        flex-flow: column;
    }

    footer .newsletter > form {
        flex: auto;
        width: 70vw;
        align-self: center;
    }

    footer .newsletter > :first-child {
        order: 3;
    }

    footer .newsletter > :last-child {
        order: 2;
    }

    footer .newsletter > :first-child, footer .newsletter > :last-child {
        flex: auto;
        align-self: flex-start;
        width: 100%;
        text-align: center;
        margin-left: auto;
    }

    .text-title, .text-small-title {
        font-size: 2em;
    }

    .text-normal {
        font-size: 1.2em;
    }

}

@media screen and (max-width: 540px)  {
    footer .links {
        display: flex;
        flex-flow: column nowrap;

        align-items: center;
    }

    footer .links .wrapper {
        display: flex;
        justify-content: flex-start;

        margin-left: inherit;
        flex: 1 1 100%;
        width: 100%;
    }
    
    footer .links {
        flex: 1 1 100%;
    }

    footer .links > :nth-child(3) {
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-left: inherit;
        margin-top: 32px;
    }

    footer .newsletter > form {
        margin: 0 16px 32px 0;
        width: 90%;
    }
    
    .text-big-title {
        font-size: 1.9em;
    }
    
}