/*-----------------VIDEO----------------------*/
.header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

img {
    width: 100%;
    z-index: 1;
}

/*----------------------DESCRIPCION-----------------------*/
.section-parkour .description {
    display: flex;
    flex-flow: column nowrap;

    z-index: 2;
    margin-top: -16.5vw;
    padding-top: 10%;
    padding-bottom: 14%;
    clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 calc(100% - 100px));
    background-color: black;
}

.section-parkour .description .title, .section-parkour .description .content {
    color: white;
    margin: 0 14%;
}

.section-parkour .description .title {
    text-align: center;
}
.section-parkour .description .content {
    margin-top: 24px;
    column-count: 2; 
    column-gap: 40px;
    text-align: justify;
}


/*-----------------------FILOSOFÍA-------------------------*/
section {
    display: flex;
    flex-direction: column;
}

section.section-filosofia {
    flex-wrap: wrap;
    align-items: flex-end;

    z-index: -1;
    margin-top: -14%;
    background-color: black;
    overflow: hidden;
}

section.section-filosofia .container {
    display: flex;
    flex-flow: column nowrap;

    z-index: 2;
    width: 52%;
    margin-top: -43%;
}

section.section-filosofia .wrapper {
    background-color: black;
}

section.section-filosofia .container p {
    color: white;
    text-align: center;
    margin-bottom: 16px;
}

section.section-filosofia .container p.content {
    text-align: justify;
    margin-right: 32px;
}

/*---------------------ARTE URBANO-----------------------*/
section.arte-urbano .header {
    align-items: flex-end;

    width: 100%;
    height: 380px;
    background-color: black;
}

section.arte-urbano .header img {
    bottom: 0;
    max-height: 250px;
}

section.arte-urbano .header-paint {
    display: flex;
    flex-flow: column;
    align-items: center;

    padding-bottom: 100px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
    background-color: white;
    z-index: 5;
}

section.arte-urbano .header-paint img{
    width: 65%;
}

section.arte-urbano img.img {
    margin-top: -180px;
    z-index: -1;
}

section.arte-urbano .info-A, section.arte-urbano .info-B {
    display: flex;
    flex-flow: column;
    align-items: center;

    z-index: 5;
    padding: 100px 14%;
    margin-top: -200px;
    background: white;
    clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 calc(100% - 100px));
}

section.arte-urbano .info-A p.title, section.arte-urbano .info-B p.title {
    margin-bottom: 16px;
    text-align: center;
}

section.arte-urbano .info-B {
    clip-path: polygon(0 0, 100% 100px, 100% calc(100% - 100px), 0 100% );
}

section.arte-urbano p.content {
    column-count: 2;
    text-align: justify;
    column-gap: 40px;
    padding-bottom: 48px;
}

section.arte-urbano p.content span {
    font-weight: bold;
}

/*--------------------------MEDIA-QUERIES---------------------*/
@media screen and (max-width: 1600px ) {
    section.section-filosofia .container {
        flex-flow: column wrap;
        z-index: 2;
        width: 100%;
        padding: 14% 14% 0 14%;
        margin-top: -48%;
        clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
        background-color: rgba(0, 0, 0, 1);
    }

    section.section-filosofia .container p.content {
        margin-right: inherit;
        column-count: 2;
        column-gap: 40px;
    }
}

@media screen and (max-width: 1280px ) {
    .section-parkour .description {
        margin-top: -18.5vw;
    }

    video {
        transform: scale(0.8) translateY(-20%) translateX(-30%);
    }

    .section-parkour .description .title, .section-parkour .description .content {
        margin: 16px 5%;
    }

    section.section-filosofia .container {
        padding: 14% 5% 0 5%;
    }

    section.arte-urbano .info-A, section.arte-urbano .info-B {
        padding: 100px 5%;
    }

}

@media screen and (max-width: 900px ) {
    .section-parkour .description {
        margin-top: -20vw;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    video {
        transform: scale(0.6) translateY(-40%) translateX(-50%);
    }

    section.section-filosofia {
        flex-wrap: wrap;
        align-items: flex-end;
        z-index: -1;
        margin-top: -100px;
        background-color: black;
    }

    .section-parkour .description .content, section.section-filosofia .container p.content,
    section.arte-urbano p.content {
        column-count: 1;
    }

    section.arte-urbano p.content span {
        display: inline-block;
        margin: 8px 0 4px 0;
    }

    section.arte-urbano .header {
        height: auto;
        padding-top: 32px;
    }

    section.arte-urbano .header-paint img {
        width: 100%;
    }

    section.arte-urbano .header-paint {
        clip-path: none;
        padding-bottom: 32px;
    }

    section.arte-urbano img.img {
        margin-top: auto;
    }

    section.arte-urbano .info-A, section.arte-urbano .info-B {
        margin-top: inherit;
        background: white;
        clip-path: none;
        padding-top: inherit;
        padding-bottom: inherit;
    }

    .section-parkour .description {
        clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
        padding-bottom: 16px;
        background-color: black;
    }
    
    section.section-filosofia .container {
        clip-path: none;
        margin-top: 0px;
        padding-top: 0px;
        background-color: rgba(0, 0, 0, 1);
    }
}

@media screen and (max-width: 750px ) {
    .section-parkour .description {
        margin-top: -24vw;
    }

    video {
        transform: scale(0.59) translateY(-40%) translateX(-70%);
    }
    
    section.section-filosofia {
        margin-top: 0px;
    }


    section.section-filosofia .container p {
        margin-top: 8px;
    }
}

@media screen and (max-width: 530px ) {
    .section-parkour .description {
        margin-top: -30vw;
    }

    video {
        transform: scale(0.57) translateY(-39%) translateX(-70%);
    }
    
}