/*-----------------------------HEADER----------------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../images/traceurs-background.jpg);
    height: 100vh;
    background-size: cover;
}

header .title {
    text-align: center;
    color: white;
    margin-top: 100px;
    width: 50%;
}

/*--------------------------TRACEURS---------------------------*/
section {
    display: flex;
    flex-flow: column nowrap;

    margin: 10% 60px;
}

section .row1, section .row2 {
    display: flex;
    flex-flow: row nowrap;
}

section .row2 {
    justify-content: space-between;
    margin-top: 8%;
}

section .row1 .img {
    align-self: center;
    flex: 1 1 200px;
    
    width: 40%;
}

section .row1 .content {
    align-self: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 60%;
    margin-left: 32px;
}

section .img div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section.bvdl .img div {
    background-image: url(../images/bartVanDerLinden.jpg);
}

section.dk .img div {
    background-image: url(../images/dimitrisKyrsanidis.jpg);
}

section.tm .img div {
    background-image: url(../images/ThomasMougue.jpg);
}

section .img div::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

section .row1 .title {
    display: flex;
    flex-flow: row nowrap;
}

section .row1 .img-flag {
    align-self: center;
    flex: 1 0 70px;

    width: 70px;
    height: 48px;
    margin-left: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section.bvdl .row1 .img-flag {
    background-image: url(../images/nl.png);
}

section.dk .row1 .img-flag {
    background-image: url(../images/gr.png);
}

section.tm .row1 .img-flag {
    background-image: url(../images/fr.png);
}

section .row2 .img1, section .row2 .img2, section .row2 .img3{
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section .row2 .img1::before, section .row2 .img2::before, section .row2 .img3::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

section.bvdl .row2 .img1 {
    background-image: url(../images/bvdl1.jpg);
}

section.bvdl .row2 .img2 {
    background-image: url(../images/bvdl2.jpg);
}

section.bvdl .row2 .img3 {
    background-image: url(../images/bvdl-f3.jpg);
}

section.dk .row2 .img1 {
    background-image: url(../images/dk1.jpg);
    background-position: left center;
}

section.dk .row2 .img2 {
    background-image: url(../images/dk2.jpg);
    background-position: 60% center;
}

section.dk .row2 .img3 {
    background-image: url(../images/dk3.jpg);
    background-position: left center;
}

section.tm .row2 .img1 {
    background-image: url(../images/tm1.jpg);
}

section.tm .row2 .img2 {
    background-image: url(../images/tm2.jpg);
}

section.tm .row2 .img3 {
    background-image: url(../images/tm3.jpg);
}

/*---------------------------MEDIA QUERIES------------------*/
@media screen and (max-width: 1024px) {
    header {
        min-height: 700px;
        background-position: -180px center;
    }

    .text-big-title {
        font-size: 3.9em;
    }

    section .row1 {
        flex-flow: column wrap;
    }

    section .row1 .img {
        align-self: center;
        flex: 1 1 50%;
        width: 50%;
    }

    section .row1 .content {
        width: 100%;
        margin-left: inherit;
    }

    section.dk .row1 .img {
        order: 1;
    }

    section.dk .row1 .content {
        order: 2;
    }

    section .row1 .content .description{
        column-count: 2;
        column-gap: 30px;
        text-align: justify;
    }
}

@media screen and (max-width: 750px) {
    section .row1 .content .description{
        column-count: 1;
    }

    section {
        margin: 10% 0;
    }

    section .row1 .content {
        padding: 0 32px;
    }

    section .row2 {
        flex-flow: column wrap;
    }

    section .row2 .img1, section .row2 .img2, section .row2 .img3 {
        width: 100%;
        margin-bottom: 32px;
        background-position: center center;
    }

    section .row2 .img1::before, section .row2 .img2::before, section .row2 .img3::before {
        padding-bottom: 60%;
    }

    .text-big-title {
        font-size: 2.0em
    }
}

@media screen and (max-width: 550px) {
    header {
        align-items: flex-start;
        margin-top: 50px;
        justify-content: flex-end;
    }

    section .row1 .content {
        padding: 0 5%;;
    }

    header .title {
        text-align: center;
        margin-top: 16px;
        width: 100%;
    }

    .text-small-title {
        font-size: 1.4em;
    }
}