body {
    margin: 0;
}

.wrapper {
    position: relative;
    width: 100%;
}

header {
    width: 100%;
}

nav {
    width: 100%;
}

nav {
    position: relative;
    height: 8%;
}

nav ul{
    display: flex;
    background-color: lightblue;
    justify-content: flex-end;
    flex-flow: row nowrap; /*shorthand -> disposición en columna y no ocupamos todo*/
    width: 100%;
    list-style-type: none;
    padding: 16px 0;
    margin: 0;
    position: absolute;
    text-align: center;
}

nav li {
    display: inline-block;
    color: #121333;
    margin-right: 32px;
    height: 30px;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 800px) {
    nav ul {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
        justify-content: space-around;
        flex-flow: column wrap;
        padding: 0;
    }
}