
.wrapper {
    width: 71.7857142857143vw;
    margin: 0 auto;
    height: 100%;
}

.contenedor {
    float: left;
    width: 25%;
    border: solid 2px;
    box-sizing: border-box;
    background-image: url(./Android_robot.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin: auto;
}

.contenedor::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}
/*Con padding botton 100% lo que hacemos es mantener las 
proporciones por que te pone el alto en función del width*/