@import url('https://fonts.googleapis.com/css?family=KoHo:200,300,400,500,600,700|Monoton');

/* Quitamos lo márgenes que establece el navegador */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* font-size: 62.5%;Para que 1em sea igual a 10px */
}

.wrapper {
    width: 100%;
    height: 100%;
}

div {
    /*Propiedad para evitar que se sumen los márgenes y los padding a nuestos contenedores, por lo que si le definimos una 
    medida esta no va a cambiar al insertar estas propiedades*/
    box-sizing: border-box; 
}

/*Clase comun imagen*/
.imgCenterTop {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin: auto;
}

/* -------------------------------Cabecera (nav)----------------------------------- */
header {
    position: fixed;
    width: 100%;
    /* height: 2.604166vw; 50/1920= 0.02604166 */
    height: 50px;
    background-color: white;
    z-index: 10;
}

.logo {
    position: absolute;
    left: 3vw;
    top: 20%;
    bottom: 20%;
    /* width: 1.5625%; 18.531px/1920 = 0.015625
    height: 60%; 30px/50px = 0.6 */
    width: 18.531px;
    height: 30px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
}

nav {
    position: absolute;
    width: 100%;
    text-align: center;
}

ul {
    height: 100%;
    margin: 0.2vw auto;
    padding-right: 2%;
    list-style-type: none;
}

li {
    position: relative;
    padding-right: 3vh;
    /* padding-left: 1vh; */
    display: inline-block; /*Propiedad para poner la lista que se disponga horizontalmente*/
    text-align: center;
    line-height: 40px; /*Propiedad con la que conseguimos que las letras estén centradas verticalmente*/
}

a {
    margin: 0 auto;
    text-decoration: none;
    font-family: 'KoHo', sans-serif;
    font-weight: 500;
    color: black;
    /* font-size: 0.833333333vw;16/1920 = 0.0083333333 */
    font-size: 20px;
}

/* --------------------------------------Main-------------------------------------- */
section.main {
    position: relative;
    margin: 0;
    top: 10px;
    width: 100%;
    /*height: 47.61904761904762vw/*600/1260 = 4761904761904762 */;
    height: 46.31578947368421vw /*880/1900=*0.4631578947368421/*/;
    /* height: 100vh; */
}

#image {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    /* width: 100%;
    height: 53.64583333333vw;1030/1920 = 0.536458333333 */
    background-image: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;/*Propiedad para hacer el efecto paralax*/
}

.container {
    position: relative;
    width: 100%;
    height: 23.15789473684211vw;
}

#figura {
    position: absolute;
    top: 0;
    left: 29.80880952380952vw;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23.15789473684211vw 20.24742063492063vw 0 20.24742063492063vw;
    /*
    confección de triángulo
    left --> posición x --> 375,591 /1260 --> 0.2980880952380952
    ancho --> 510.235 / 2 --> 255.1175 / 1260 = 0.2024742063492063
    alto --> mitad de alto --> 46.31578947368421vw / 2 --> 23.15789473684211vw
    */
    border-color: #0000005d transparent transparent transparent;
}

#nombreEmpresa {
    position: absolute;
    /* left: -20.24742063492063vw; */
    top: 2.38095238095238vw;/*30px/1260 --> 0.0238095238095238*/
    left: 37.34126984126984vw;/*470.5/1260 --> 0.3734126984126984*/
    font-family: 'Monoton', serif;
    font-size: 5.3968253968254vw;/*68px/1260 --> 0.053968253968254*/
    color: white;
    /* z-index: 1; */
}

#citaEmpresa {
    position: absolute;
    right: 0;
    top: 0;
    width: 48.98vw;
    border-right: 0 solid transparent;
    border-left: 20.24742063492063vw solid transparent;
    border-top: 23.15789473684211vw solid #0000005d;
  }

#cita {
    position: absolute;
    top: 6vw;
    right: 1vw;
    padding-right: 1.5vw;
    width: 34.73257936507937vw;
    font-family: 'KoHo', sans-serif;
    color: white;
    font-size: 1.42857142857143vw;/*22/1260 -> 0.0174603174903175*//*20/1260 -> 0.0158730158730159*/
    /*18/1260 -> 0.0142857142857143*/
}

#cita span {
    font-size: 1.11111111111vw;/*16/1260 --> 0.0126984126984127*//*14/1260 -> 0.0111111111111*/
    float: right;
}

/*------------------------------------EL RESTAURANTE--------------------------------*/

/*Cabecera Restaurante*/
#elRestaurante {
    position: relative;
    width: 100%;
    height: 11.98412698412698vw;/*151/1260 --> 0.1198412698412698*/
    margin-top: 8.6vw;/*100/1260 --> 0.0476190476190476*/
    background-image: url(../images/elRestaurante2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 2.38095238095238vw;/*30/1260 --> 0.0238095238095238*/
}

#elRestaurante .figura {
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 11.98412698412698vw 98vw 0 0;
    /*
    alto --> 151/1260 --> 0.1198412698412698
    ancho --> 100vw
    */
    border-color: #0000005d transparent transparent transparent;
}

#elRestaurante p {
    position: absolute;
    left: 11.9047619047619vw;/*150/1260 -> 0.119047619047619*/
    bottom: 1.6031746031746vw;
    font-family: 'KoHo', sans-serif;
    font-size: 2.77777777777778vw;/*35/1260 -> 0.0277777777777778*/
    font-weight: bold;
    color: white;
}

/*Contenido Restaurante*/
.contenido {
    position: relative;
    width: 90.47619047619048vw;/*1140/1260 --> 0.9047619047619048*/
    height: 23.80952380952381vw;/*300/1260 --> 0.2380952380952381*/
    margin-left: 4.20634920634921vw;/*53/1260 --> 0.0420634920634921*/
    margin-right: 4.20634920634921vw;/*53/1260 --> 0.0420634920634921*/
}

.contenido div {
    position: absolute;
    width: 46.82539682539683vw;/*590/1260 --> 0.4682539682539683*/
    height: 23.80952380952381vw;/*300/1260 --> 0.2380952380952381*/
}

.imagen1 {
    top: 0;
    left: 0;
    background-image: url(../images/enigma-cocina2.jpg);
    background-size: cover;
    background-position: center bottom;
}

.imagen2 {
    top: -2.38095238095238vw;/*30/1260 -> 0.0238095238095238*/
    right: 0;
    background-image: url(../images/enigma-mesa.jpg);
    background-size: cover;
    background-position: center bottom;
}

.imagen3 {
    top: -4.76190476190476vw;/*60/1260 -> 0.0476190476190476 El doble puesto que tenemos que contar con el margin de la imagen anterior*/
    left: 0;
    background-image: url(../images/enigma-vista-cocina-salon.jpg);
    background-size: cover;
    background-position: center bottom;
}

.contenido p {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 40.47619047619048vw;/*510/1260 -> 0.4047619047619048*/
    top: 1.58730158730159vw;/*20/1260 -> 0.0158730158730159*/
    font-family: 'KoHo', sans-serif;
    font-size: 1.26984126984127vw;/*16/1260 -> 0.0126984126984127*/
    height: 18.25396825396825vw;/*230/1260 -> 0.1825396825396825*/
    font-weight: 300;
    text-align: left;
}

#restaurante1 {
    right: 1.58730158730159vw;
}

#restaurante2 {
    left: 1.58730158730159vw;
    height: 15.87301587301587vw;/*200/1260 -> 0.1587301587301587*/
    text-align: right;
}
#restaurante3 {
    right: 1.58730158730159vw;
    margin-top: -2.85714285714286vw;/*36px/1260 -> 0.0158730158730159*/
}

.contenido p span {
    color: #A59C88;
    font-weight: 500;
    font-size: 1.42857142857143vw;/*18/1260 -> 0.0142857142857143*/
}

/*--------------------------------CHEFS-----------------------------------------*/

.chefs {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 4.76190476190476vw;/*60/1260 -> 0.0476190476190476*/
}

#imagenChefs {
    background-image: url(../images/chefs2.png);
    width: 47.71825396825397vw;/*601.25/1260 -> 0.4771825396825397*/
    height: 14.99603174603175vw;/*176.35/1260 -> 0.1399603174603175*/
}

.fila {
    position: relative;
    margin: 4.76190476190476vw;/*60/1260 -> 0.0476190476190476*/
    width: 90.47619047619048vw;/*1140/1260 -> 0.9047619047619048*/
    height: 15.87301587301587vw;/*200/1260 -> 0.1587301587301587*/
}

.col1, .col2 {
    position: absolute;
    height: 100%;
    top:0;
    width: 50%;
}

.col1 {
    left: 0;
}

.col2 {
    right: 0;
}

.col1.imagen, .col2.imagen {
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
}

.col1.imagen2, .col2.imagen2 {
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
}

.col1.imagen {
    background-image: url(../images/AlbertAdria.png);
}

.col2.imagen {
    background-image: url(../images/OliverPena.png);
}

.col1.imagen2 {
    background-image: url(../images/DiegoGriberg2.png);
}

.col2.imagen2 {
    background-image: url(../images/PacoMendez.png);
}

.parrafo {
    width: 19.04761904761905vw;/*240/1260 -> 0.1904761904761905*/
    height: 100%;
    font-weight: 300;
    font-family: 'KoHo', sans-serif;
    font-size: 1.11111111111111vw;/*14/1260 -> 0.0111111111111111*/
    
}

.parrafo span {
    color: #A59C88;
    font-size: 1.26984126984127vw;/*16/1260 -> 0.0126984126984127*/
}

.imagen p {
    position: absolute;
    text-align: right;
    padding-right: 1.26984126984127vw;/*16/1260 -> 0.0126984126984127*/
    right: 0;
    top: 0;
}

#imagen1 {
    position: absolute;
    width: 70%;
    height: 15.87301587301587vw;
    shape-outside: polygon(0% 100%, 100% 0, 0 0);
    
}

#imagen2 {
    position: absolute;
    width: 70%;
    border-right: 15.8968253968254vw solid transparent;
    /*
    mitad 285px/1260 --> 0.2261904761904762
    */
    border-left: 0 solid transparent;
    border-bottom: 15.87301587301587vw solid transparent;
}

#imagen3, #imagen4 {
    position: absolute;
    top: 0;
    right: 0;
    height: 17.46031746031746vw;/*220/1260 --> 0.1746031746031746*/
    width: 30.55555555556vw;/*385/1260 --> 0.3055555555556*/
    background-size: contain;
    background-repeat: no-repeat;
}

.imagen2 p {
    position: absolute;
    text-align: left;
    padding-right: 16px;
    left: 0;
    top: 0;
}

#imagen3 {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    border-right: 0 solid transparent;
    /*
    mitad 285px/1260 --> 0.2261904761904762
    */
    border-left: 16.1968253968254vw solid transparent;
    border-top: 15.87301587301587vw solid transparent;
}


#imagen4 {
    position: absolute;
    top: -1.53968253968254vw;/*32/1260 -> 0.0253968253968254*/
    right: 0;
    width: 70%;
    border-right: 0 solid transparent;
    /*
    mitad 285px/1260 --> 0.2261904761904762
    */
    border-left: 15.8968253968254vw solid transparent;
    border-bottom: 15.87301587301587vw solid transparent;
}

/*-------------------------------MENÚ---------------------------------------*/
/*Cabecera*/
.carta {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 4.76190476190476vw;/*60/1260 -> 0.0476190476190476*/
}

#imagenCarta {
    background-image: url(../images/Carta.png);
    width: 45.71426571428571vw;/*576/1260 -> 0.4571426571428571*/
    height: 17.93650793650794vw;/*226/1260 -> 0.1793650793650794*/
    margin-bottom: 4.76190476190476vw;/*60/1260 -> 0.0476190476190476*/  
}

/*Contenido*/

/*Titulos*/
.carta p.titulo {
    color: #A59C88;
    font-size: 1.26984126984127vw;/*16/1260 -> 0.0126984126984127*/
    text-align: center;
}

/*Descripción*/
#section1 p.desc {
    font-weight: 300;
    font-family: 'KoHo', sans-serif;
    font-size: 1.11111111111111vw;/*14/1260 -> 0.0111111111111111*/
    width: 27.14285714285714vw;/*342/1260 -> 0.2714285714285714*/
    margin-left: 1.58730158730159vw;/*20/1260 -> 0.0158730158730159*/
}

/*Envoltorio de los platos*/
.carta .wrapper {
    position: relative;
    width: 90.47619047619048vw;/*1140/1260 -> 0.9047619047619048*/
    height: 51.58730158730159vw;/*650/1260 -> 0.5158730158730159*/
    margin: auto;
}

#section1 {
    height: 31.74603174603175vw;/*400/1260 -> 0.3174603174603175*/
    width: 100%;
}

/*Definición de tamaño de columnas*/
#section1 .col1, #section1 .col2, #section1 .col3 {
    position: absolute;
    width: 30.15873015873016vw;/*380/1260 -> 0.3015873015873016*/
    height: 31.74603174603175vw;
}

/*Primer plato*/
#section1 .col1 {
    top: 0;
    left: 0;
}

#section1 .col1 .img {
    position: absolute;
    width: 30.15873015873016vw;
    height: 19.84126984126984vw;/*250/1260 -> 0.1984126984126984*/
    top: 0;
    left: 0;
    background-image: url(../images/plato1.png);
}

#section1 .col1 .contenido{
    position: absolute;
    margin: auto;
    top: 20.63492063492069vw;
    left: 0;
    width: 27.14285714287514vw;/*342/1260 -> 0.2714285714287514*/
    height: 7.93650793650794vw; /*100/1260 -> 0.0793650793650794*/
}

#section1 .col1 .titulo{
    position: relative;
    top: 0;
    left: 0;
    width: 27.14285714287514vw;/*342/1260 -> 0.2714285714287514*/
    height: 1.26984126984127vw;/*0.0126984126984127*/
}

#section1 .col1 .desc {
    position: relative;
    height: 100%;
    top: 0;
}


/*Segundo Plato*/
#section1 .col2 {
    top: 0;
    left: 30.15873015873016vw;
}

#section1 .col2 .img {
    position: absolute;
    width: 30.15873015873016vw;
    height: 11.9047619047619vw;/*150/1260 -> 0.119047619047619*/
    bottom: 0;
    left: 0;
    background-image: url(../images/plato2.png);
}

#section1 .col2 .contenido{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 27.14285714287514vw;/*342/1260 -> 0.2714285714287514*/
    height: 15.87301587301587vw; /*200/1260 -> 0.1587301587301587*/
}

#section1 .col2 .titulo{
    position: relative;
    top: 0;
    left: 0;
    width: 27.14285714287514vw;/*342/1260 -> 0.2714285714287514*/
    height: 1.26984126984127vw;/*0.0126984126984127*/
}

#section1 .col2 .desc {
    position: relative;
    height: 100%;
    top: 0;
}


/*Tercer Plato*/
#section1 .col3 {
    top: 0;
    right: 0;
}

#section1 .col3 .img {
    position: absolute;
    width: 30.15873015873016vw;
    height: 25vw; /*315/1260 -> 0.25*/
    bottom: 0;
    left: 0;
    background-image: url(../images/plato3.png);
}

/*Cuarto Plato*/
#section2 {
    position: relative;
    height: 19.84126984126984vw;/*250/1260 -> 0.1984126984126984*/
    width: 100%;
    margin-bottom: 4.76190476190476vw/*60/1260 -> 0.0476190476190476*/
}

#section2 .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 45.23809523809524vw;/*570/1260 -> 0.4523809523809524*/
    height: 19.84126984126984vw;/*250/1260 -> 0.1984126984126984*/
    background-image: url(../images/plato4.png);
}

#section2 .contenido{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    width: 44.44444444444vw;/*560/1260 -> 0.3968253968253968*/
    height: 19.84126984126984vw;/*200/1260 -> 0.1984126984126984*/
}

#section2 .titulo{
    position: relative;
    width: 90%;/*342/1260 -> 0.2714285714287514*/
    height: 1.26984126984127vw;/*0.0126984126984127*/
}

#section2 .desc {
    position: relative;
    margin: auto;
    width: 90%;
    height: 100%;
}

/*CARTA*/
.carta .menu{
    position: relative;
    margin: 0;
    width: 100%;
    height: 51.58730158730159vw;/*650/1260 -> 0.5158730158730159*/
    background-image: url(../images/Menu.png);
    background-repeat: no-repeat;
    background-size: cover;
} 

