/*PRELOADER*/
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transition: all 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.loader {
    background-image: url(../images/Jelly-Preloader.gif);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
}

.hidden-preloader {
    opacity: 0;
    z-index: -10;
}

.loader::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

/*Posicionamiento video*/
.vimeo-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    background-color: black;
    z-index: -1;
}

.vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw; 
    min-height: 100vh;
    min-width: 177.77vh; /*Relacion 16:9*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.20);
}

/*Carrousel información*/
.carousel-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 52px);
    background-color: rgba(128, 128, 128, 0.192);
    margin-top: 52px;
}

.carousel-info .content {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    flex: 1 1 80%;
    padding: 0 32px;
    margin: 0 42px;
}

.carousel-info a {
    width: 32px;
    height: 50px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .25s ease-in-out;
}

.carousel-info a.left {
    background-image: url(../images/espalda.svg);
    margin-left: 3%;
    z-index: 2;
}

.carousel-info a.right {
    background-image: url(../images/proximo.svg);
    margin-right: 3%;
    z-index: 2;
}

.carousel-info a:hover {
    width: 36px;
    height: 54px;
}

.carousel-info .content .title {
    text-align: center;
    color: white;
    margin-bottom: 32px;
}

.carousel-info .content .content {
    color: #D8D9DB;
    text-align: center;
    margin-bottom: 32px;
}

.carousel-info .btn {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 32px;
    color: #D8D9DB;
    padding: 4px 16px;
    border: 1px solid #D8D9DB;
    cursor: pointer;
    width: 120px;
    margin: 0 auto;
}

.carousel-info .btn:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 100%;
    background: rgba(191, 29, 56, 0.8);
    transition: all .7s ease;
    z-index: -1;
}

.carousel-info .btn:hover:before {
    width: 100%;
}

#carouselHeader {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

/*CONOCENOS*/
section.conocenos {
    display: flex;
    flex-flow: row wrap;
}

section.conocenos .left{
    flex: 1 1 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 64px 5vw ;
}

section.conocenos .left hr {
    width: 100%;
    margin-left: 50%;
    z-index: 2;
}

section.conocenos .right {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
}

section.conocenos .right .image {
    width: 90%;
    background-image: url(../images/6791242-free-canada-wallpaper\ \(1\).jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 3;
}

section.conocenos .right .image::before {
    content: '';
    display: block;
    padding-bottom: 50%;
}

.conocenos .left .ptitle {
    text-align: center;
    margin-bottom: 8px;
}

.conocenos .left .title {
    text-align: right;
}

.conocenos .left .content {
    text-align: justify;
    text-justify: inter-character;
}

/*CULTURA*/
section.culture {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    box-sizing: border-box;
    padding: 60px 5%;
    width: 100%;
}

section.culture .title{
    margin-bottom: 8px;
}

section.culture .subtitle {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 100%;
}

section.culture .subtitle .line {
    flex: 0 2 200px;
    width: 20%;
    height: 50%;
    border-top: 1px solid black;
}

section.culture .subtitle .line.left {
    border-left: 1px solid black;
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
}

section.culture .subtitle .line.right {
    border-right: 1px solid black;
    position: absolute;
    top: 50%;
    right: 0;
    height: 50%;
}

section.culture .subtitle .content {
    width: 60%;
    text-align: center;
}

section.culture .container {
    display: flex;
    align-content: center;
    justify-content: center;

    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5% 64px;
    width: 100%;
    box-sizing: border-box;
}

section.culture .container .description {
    width: 90%;
    max-width: 900px;
}

section.culture .gallery {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    position: relative;
    width: 100%;
}

section.culture .gallery .shape {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
} 

section.culture .gallery .img {
    flex: 0 0 25%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

section.culture .gallery .img:before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

section.culture .gallery .img .desc {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.651);
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 5px 8px;
    overflow-y: hidden;
    transition: all 0.5s;
}

section.culture .gallery .img:hover > .desc {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

section.culture .gallery .img1 {
    background-image: url(../images/indigena-canada.jpg);
}

section.culture .gallery .img2 {
    background-image: url(../images/irland-canada.jpg);
}

section.culture .gallery .img3 {
    background-image: url(../images/fr-canada.jpg);
}

/*NUESTRA GASTRONOMIA*/
section.gastronomia {
    position: relative;
    display: flex;
    flex-flow: row-reverse wrap;
    width: 100%;
}

section.gastronomia .description {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;

    flex: 1 1 400px;
}

section.gastronomia .item {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;

    flex: 1 1 400px;
}

section.gastronomia .wrapper {
    margin: 10% 10% 50px 10%;
}


section.gastronomia .wrapper-r {
    margin: 10% 10% 100px 0;
}

section.gastronomia .item .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-left: 1px solid black;
    padding-bottom: 60px;
    width: 100%;
}

section.gastronomia .item .img {
    margin-top: 32px;
    width: 90%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.img0 {
    background-image: url(../images/Ostras-570x321.jpg);
}

.img1 {
    background-image: url(../images/Arctic-Char.jpg);
}

.img2 {
    background-image: url(../images/Tourtiere-de-Quebec.jpg);
}

.img3 {
    background-image: url(../images/Butter-tarts.jpg);
}

.img4 {
    background-image: url(../images/Fiddleheads.jpg);
}

.img5 {
    background-image: url(../images/Jarabe-de-arce.jpg);
}

section.gastronomia .item .img:before {
    content: '';
    display: block;
    padding-bottom: 60%;
}

section.gastronomia hr {
    margin: 0;
    padding: 0;
    border-top: 1px solid;
    border-bottom: none;
    z-index: -2;
    margin-right: 35%;
}

section.gastronomia .item .title, section.gastronomia .item .subtitle {
    text-align: center;
}

section.control {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin-top: -100px;
}

section.control .control {
    position: relative;
    width: 140px;
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
}

.control .previous, .control .next {
    width: 100%;
    height: 100%;
}

.control .next, .control .previous {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.control .next {
    background-image: url(../images/next.svg);
    background-color: #FAFBFC;
}

.control .previous {
    background-image: url(../images/back.svg);
    background-color: white;
}

/*CIUDADES*/
section.ciudades {
    margin-top: 50px;
    padding-top: 64px;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
}

section.ciudades .title {
    text-align: center;
    margin-bottom: 8px;
}


section.ciudades .subtitle {
    width: 60%;
    min-width: 300px;
    align-self: center;
    text-align: center;
    margin-bottom: 32px;
}

section.ciudades .skyline {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.skyline0 {
    background-image: url(../images/Toronto_Ontario.jpg);
}

.skyline1 {
    background-image: url(../images/2015_vancouverfalsecreek2.jpg);
}

.skyline2 {
    background-image: url(../images/ottawa_final_cover.jpg);
}

.skyline3 {
    background-image: url(../images/Montreal_Twilight_Panorama_2006.jpg);
}

section.ciudades .skyline:before {
    content: '';
    display: block;
    padding-bottom: 25%;
    min-height: 100px;
}

.carousel-city {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 52px;
}

.carousel-city .content {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    flex: 1 1 80%;
    padding: 0 32px;
    margin: 0 42px;
    box-sizing: border-box;
}

.carousel-city a {
    width: 32px;
    height: 50px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .25s ease-in-out;
}

.carousel-city a.left {
    background-image: url(../images/back.svg);
    margin-left: 3%;
    z-index: 2;
}

.carousel-city a.right {
    background-image: url(../images/next.svg);
    margin-right: 3%;
    z-index: 2;
}

.carousel-city a:hover {
    width: 36px;
    height: 54px;
}

.carousel-city .btn {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 32px;
    color: black;
    padding: 4px 16px;
    border: 1px solid black;
    cursor: pointer;
    width: 120px;
    margin: 16px auto;
    z-index: 2;
}

.carousel-city .btn:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 100%;
    background: rgba(191, 29, 56, 0.8);
    transition: all .7s ease;
    z-index: -1;
}

.carousel-city .btn:hover:before {
    width: 100%;
}

.carousel-city .city {
    text-align: center;
    margin-bottom: 32px;
}

.carousel-city .description {
    column-count: 2;
    column-gap: 30px;
    text-align: justify;
    max-width: 1200px;
    margin: 0 auto 32px auto;
}

section.ciudades .pointer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: relative;
    align-self: center;
    width: 200px;
    height: 20px;
    margin-top: 16px;
    margin-bottom: 32px;
}

section.ciudades .line {
    position: absolute;
    background-image: linear-gradient(to right, black 50%, white 50%);
    background-position: top;
    background-size: 10px;
    background-repeat: repeat-x;
    border-color: red;
    border-width: 1px;
    top: 50%;
    width: 100%;
    height: 1px;
}

section.ciudades .circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 10%;
    height: 100%;
    z-index: 2;
    transition: all .25s;
}

.white-circle {
    background-color: white;
    height: 80% !important;
    width: 8%!important;
    align-self: center;
}

.black-circle {
    background-color: black;
}

/*NATURALEZA*/
section.naturaleza {
    display: flex;
    flex-flow: column nowrap;
    background-image: url(../images/naturaleza.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 64px;
    min-height: 990px;
}

section.naturaleza .title {
    text-align: center;
    margin-bottom: 8px;
}

section.naturaleza .subtitle {
    width: 50%;
    min-width: 700px;
    align-self: center;
    text-align: center;
}

section.naturaleza .description {
    width: 50%;
    min-width: 700px;
    align-self: center;
    text-align: justify;
    margin-top: 32px;
}

/*CONTENIDO NATURALEZA*/
section.naturaleza-content {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    background-color: #FAFBFC;
    padding-bottom: 64px;
}

section.naturaleza-content .content .title {
    font-family: 'Merriweather', serif;
    font-size: 1.4em; 
    font-weight: 700; 
    color: #353638;
    text-align: center;
}

section.naturaleza-content .list {
    display: flex;
    flex-flow: row wrap;

    flex: 1 1 200px;
    align-items: center;
    align-content: space-between;

    min-height: 200px;
    box-sizing: border-box;
    margin-left: 5%;
}

section.naturaleza-content .display {
    flex: 1 1 800px;
    margin-right: 5%;
    margin-left: 32px;

    box-sizing: border-box;
}

section.naturaleza-content .item {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.naturaleza-content .list .item {
    flex: 1 1 300px;
    height: 30%;
    min-height: 200px;
    cursor: pointer;
}

section.naturaleza-content .display {
    display: flex;
}

section.naturaleza-content .display .item {
    height: 100%;
    transition: all .5s;
}

section.naturaleza-content .display:before {
    content: '';
    display: flex;
    padding-bottom: 70%;
}

section.naturaleza-content .item .content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 0%;
    padding: 0 32px;
    background-color: rgba(255, 255, 255, 0.651);
    bottom: 0;
    left: 0;
    transition: all .5s;
}

section.naturaleza-content .list .item .content {
    height: 0%;
}

.displayed {
    height: 100% !important;
}

.noDisplayed {
    height: 0% !important; 
}

.visible-c {
    opacity: 1;
}

.invisible-c {
    opacity: .1;
}

section.naturaleza-content .display .title {
    margin-bottom: 8px;
}

section.naturaleza-content .display .description {
    max-width: 800px;
    align-self: center;
    text-align: justify;
}

section.naturaleza-content .item1 {
    background-image: url(../images/a_churchill-avistar-oso-a.jpg);
}

section.naturaleza-content .item2 {
    background-image: url(../images/a_Montañas-Rocosas-aurora-a.jpg);
}

section.naturaleza-content .item3 {
    background-image: url(../images/canada-itineraire-voyage-3.jpg);
}

section.naturaleza-content .item4 {
    background-image: url(../images/a_cataratas-de-niagar-a.jpg);
}

/*PLANEA TU ESCAPADA*/
section.travel {
    display: flex;
    flex-flow: row wrap;
}

section.travel .left, section.travel .right {
    flex: 1 1 400px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
}

section.travel .left {
    display: flex;
    flex-flow: column nowrap;
    padding: 32px 5%;
    align-items: center;
    box-sizing: border-box;
}

section.travel .left .title {
    margin-bottom: 8px;
}

section.travel .left .select {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 32px;
}

section.travel .left .select .accommodation, section.travel .left .select .bundle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 32px;
    box-sizing: border-box;
    cursor: pointer;
}

section.travel .left .select img {
    width: 60px;
}

.arrow {
    width: 100%;
    border-top: 1px solid #DF1735;
}

.arrow:before {
    content: '';
    display: flex;
    margin-left: calc(50% - 5px);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid #DF1735;
}

section.travel .left .fields form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

input[type = 'date'], select {
    border: none;
    border-bottom: 1px solid black;
    margin: 16px 8px;
    flex: 1 1 160px;
}

section.travel .right {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    
    justify-content: center;
}

section.travel .right .img {
    width: 90%;
    align-self: center;
    background-image: url(../images/map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

section.travel .right .img::before {
    content: '';
    display: block;
    padding-bottom: 80%;
}

/*COMENTARIOS*/
section.comments {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 64px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

section.comments .title {
    margin-bottom: 16px;
}

section.comments .wrapper-subtitle, section.comments .wrapper-people {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    width: 90%;
    max-width: 1200px;
}

section.comments .wrapper-subtitle .left {
    flex: 0 2 200px;
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 10%;
    height: 50%;
}

section.comments .wrapper-subtitle .right {
    flex: 0 2 200px;
    position: absolute;
    top: 50%;
    right: 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 10%;
    height: 50%;
}

section.comments .wrapper-subtitle .comment {
    text-align: center;
    width: 80%;
}

section.comments .wrapper-people .people {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 32px;
}

section.comments .wrapper-people .people .img {
    width: 18%;
    max-width: 150px;
    max-height: 80px;
}

section.comments .wrapper-people .people .img:before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

section.comments .wrapper-people .people .border {
    position: absolute;
    width: 100%;
    height: calc(50% + 16px);
    top: 0;
    left: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px dashed black;
    box-sizing: border-box;
}

section.comments .wrapper-people .people .img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;
}

section.comments .wrapper-people .people .item1 {
    background-image: url(../images/img1.png);
}

section.comments .wrapper-people .people .item2 {
    background-image: url(../images/img2.png);
}

section.comments .wrapper-people .people .item3 {
    background-image: url(../images/img3.png);
}

section.comments .wrapper-people .people .item4 {
    background-image: url(../images/img4.png);
}

section.comments .wrapper-people .people .item5 {
    background-image: url(../images/img5.png);
}

.big-img {
    max-height: 100px !important;
}

section.comments .author {
    margin-top: 8px;
}

section.comments .author span {
    font-weight: bold;
}