ol, ul {
	list-style: none;
}

.container {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}
.events-content {
	width: 100%;
}

.background {
	position: absolute;
	width: 50%;
	height: 100%;
	min-height: calc(100vh - 56px);
	overflow-y: hidden;
	background-color: #FAFBFC;
	right: 0;
	top: 56px;
	transition: all 1s;
}

section.loaded {
	position: relative;
	padding-top: 90px;
}

header nav {
	position: absolute;
}

