.wrapper {
    position: relative;
    width: 100%;
}

header {
    width: 100%;
}

nav {
    width: 100%;
}

nav {
    position: relative;
    height: 8%;
    background-color: lightgray;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap; /*shorthand -> disposición en columna y no ocupamos todo*/
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 22px;
    color: #121333;
    background-color: cadetblue;
    /* padding: 6px 20px; */
    width: 15%;
    height: 30px;
}

/*Seleccionamos el primer hijo (1 li)*/
li:nth-child(1) {
    margin: ;/*Hay que variar margin para colocar a la izquierda */
}

a {
    text-decoration: none;
    color: black;
}

.rigth {
    float: right;
}

.left {
    float: left;
}