@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100,200|Heebo:100,300|Josefin+Sans:100,300|Julius+Sans+One|Kodchasan:200,300,400|Noto+Serif');
/*


    font-family: 'Kodchasan', sans-serif;

    font-family: 'Noto Serif', serif;

    font-family: 'Heebo', sans-serif;

    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Arima Madurai', cursive;

    font-family: 'Julius Sans One', sans-serif;


*/
@font-face {
    font-family: 'arabtype';
    src: url(../font/arabtype.ttf);
}

@font-face {
    font-family: 'frugal';
    src: url(../font/FrugalSansLight.ttf);
}

@font-face {
    font-family: 'bankgothic';
    src: url('../font/bank_gothic_light_bt-webfont.eot');
    src: url('../font/bank_gothic_light_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bank_gothic_light_bt-webfont.woff2') format('woff2'),
         url('../font/bank_gothic_light_bt-webfont.woff') format('woff'),
         url('../font/bank_gothic_light_bt-webfont.ttf') format('truetype'),
         url('../font/bank_gothic_light_bt-webfont.svg#bankgothic_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'copperplate_gothic_lightRg';
    src: url('../font/coprgtl-webfont.eot');
    src: url('../font/coprgtl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/coprgtl-webfont.woff2') format('woff2'),
         url('../font/coprgtl-webfont.woff') format('woff'),
         url('../font/coprgtl-webfont.ttf') format('truetype'),
         url('../font/coprgtl-webfont.svg#copperplate_gothic_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'isocpeurregular';
    src: url('../font/isocpeur-webfont.eot');
    src: url('../font/isocpeur-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/isocpeur-webfont.woff2') format('woff2'),
         url('../font/isocpeur-webfont.woff') format('woff'),
         url('../font/isocpeur-webfont.ttf') format('truetype'),
         url('../font/isocpeur-webfont.svg#isocpeurregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bankgothic_lt_btlight';
    src: url('../font/bank_gothic_light_bt-webfont.eot');
    src: url('../font/bank_gothic_light_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bank_gothic_light_bt-webfont.woff2') format('woff2'),
         url('../font/bank_gothic_light_bt-webfont.woff') format('woff'),
         url('../font/bank_gothic_light_bt-webfont.ttf') format('truetype'),
         url('../font/bank_gothic_light_bt-webfont.svg#bankgothic_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sanslight';
    src: url('../font/ostrichsans-light-webfont.eot');
    src: url('../font/ostrichsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ostrichsans-light-webfont.woff2') format('woff2'),
         url('../font/ostrichsans-light-webfont.woff') format('woff'),
         url('../font/ostrichsans-light-webfont.ttf') format('truetype'),
         url('../font/ostrichsans-light-webfont.svg#ostrich_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sansmedium1';
    src: url('../font/ostrich-regular-webfont.eot');
    src: url('../font/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ostrich-regular-webfont.woff2') format('woff2'),
         url('../font/ostrich-regular-webfont.woff') format('woff'),
         url('../font/ostrich-regular-webfont.ttf') format('truetype'),
         url('../font/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../font/ostrichsans-medium-webfont.eot');
    src: url('../font/ostrichsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ostrichsans-medium-webfont.woff2') format('woff2'),
         url('../font/ostrichsans-medium-webfont.woff') format('woff'),
         url('../font/ostrichsans-medium-webfont.ttf') format('truetype'),
         url('../font/ostrichsans-medium-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rightbankflfregular';
    src: url('../font/rightbankflf-webfont.eot');
    src: url('../font/rightbankflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/rightbankflf-webfont.woff2') format('woff2'),
         url('../font/rightbankflf-webfont.woff') format('woff'),
         url('../font/rightbankflf-webfont.ttf') format('truetype'),
         url('../font/rightbankflf-webfont.svg#rightbankflfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sans-copperplate_gothicRg';
    src: url('../font/sans-copperplategothic-webfont.eot');
    src: url('../font/sans-copperplategothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/sans-copperplategothic-webfont.woff2') format('woff2'),
         url('../font/sans-copperplategothic-webfont.woff') format('woff'),
         url('../font/sans-copperplategothic-webfont.ttf') format('truetype'),
         url('../font/sans-copperplategothic-webfont.svg#sans-copperplate_gothicRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vandiana_platin_literegular';
    src: url('../font/vandiana_platin_lite-webfont.eot');
    src: url('../font/vandiana_platin_lite-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/vandiana_platin_lite-webfont.woff2') format('woff2'),
         url('../font/vandiana_platin_lite-webfont.woff') format('woff'),
         url('../font/vandiana_platin_lite-webfont.ttf') format('truetype'),
         url('../font/vandiana_platin_lite-webfont.svg#vandiana_platin_literegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Colors:
Azul oscuro -> #121333;
Azul -> #3C4C5D;
crema -> #DEDAD1;
gris oscuro -> #686F81;
gris claro -> #818693;
*/

html,body{
    height: 100%;
    margin:0;
    padding:0;
}

/*Clases genéricas*/
.image-lb {
    background-size: cover;
    background-position: left bottom;
}

.image-cb {
    background-size: cover;
    background-position: center bottom;
}

.image-lb-contain {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.text-normal {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.25em;
    font-weight: 200;
}

.text-title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.625em;
    color: #808795;
}

.text-subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 1.625em;
    font-weight: 600;
    color: #314B5D;
}

.text-menu {
    font-family: 'bankgothic_lt_btlight', sans-serif;
    font-size: 1.8em;
    color: #121333;
}

a:link {
    text-decoration:none;
    color:#121333;
} 

a:visited {
    text-decoration:none;
    color:#121333;
} 

a:hover {
    text-decoration:none;
    color:#818693;
} 

/*Propiedades para bordes*/
.bt {
    border-top: 1px solid #121333;
}

.bb {
    border-bottom: 1px solid #121333;
}

.bl {
    border-left: 1px solid #121333;
}

.br {
    border-right: 1px solid #121333;
}

.paralax {
    background-attachment: fixed;/*Propiedad para hacer el efecto paralax*/;
}

.text-cv {
    display: flex;
    align-items: center;
}

/*Envoltorio general*/
.wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;   
}
