section .contact {
    position: relative;
    box-sizing: border-box;
}

.titleContact {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 4em;
    text-align: center;
}

hr {
    width: 65%;
}

nav ul {
    position: relative;
    height: 0;
    margin-bottom: 7.14285714285714vw;/*90px*/
}

section {
    width: 90%;
    margin: 0px auto 40px auto;
}

.contact .title {
    text-align: center;
}

.contact .wrapper {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 80px auto 0px auto;
}

.contact .wrapper .form {
    position: relative;
    width: 65%;
    float: left;
    padding: 32px 60px 24px 60px;
    box-sizing: border-box;
}

.contact .wrapper .form .border1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 56%;
    z-index: -10;
}

.contact .wrapper .form .border2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 98%;
    height: 56%;
    z-index: -10;
}

.contact .info {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    float: right;
    width: 30%;
    height: 100%;
    background-color: rgba(222, 218, 209, 0.541);
}

.contact .info .title {
    margin: 24px 16px 24px 16px;
    text-align: right;
}

.contact .info .content {
    margin: 24px 16px 24px 16px;
    text-align: right;
}

input[type='text'], input[type='email'], textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 4px 0px 16px 0px;
    background-color: rgba(222, 218, 209, 0.541);
    padding: 2px 8px;
    border: 1px solid #818693;
}

textarea {
    resize: none;
}

iframe {
    margin-bottom: -23px;
}

input[type='submit'] {
    float: right;
    z-index: 10;
    padding: 4px 8px 4px 8px;
    border: 1px solid #818693;
    background-color: white;
}

#send:hover {
    background-color: rgba(222, 218, 209, 0.452);
    border: 1px solid #81869344;
    color: #818693;
}

@media screen and (max-width: 1155px) {
    .contact .wrapper .form {
        width: 100%;
    }

    .contact .info {
        margin-bottom: 32px;
        margin-top: 72px;
        position: relative;
        width: 100%;
    }

    .contact .info .title {
        text-align: left;
    }

    .contact .info .content {
        margin: 24px 16px 24px 16px;
        text-align: left;
    }

    hr {
        width: 95%
    }
}


@media screen and (max-width: 750px) {
    body {
        overflow-x: hidden;
    }

    section {
        width: auto;
        margin: 120px 16px 40px 16px;
    }

    .contact .wrapper .form {
        padding: 0;
    }

    .contact .wrapper .form .border1, .contact .wrapper .form .border2 {
        border: none;
    }

    input[type='submit'] {
        float: left;
    }

    .titleContact {
        font-size: 2.425em;
    }

    .contact .info .title {
        font-size: 1.25em;
    }
    
}

