/*--------------------------------------Main--------------------------------------*/
#main{
    width: 100%;
    height: 100%;
    background-image: url(../images/main.jpg);
    margin-bottom: 9vw;
}

nav ul{
    padding-top: calc(50% - (22px / 2));
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    text-align: center;
    /* top: 50px; */
}

nav div {
    width: 100%;
    height: 74px;
    background-color: #81869360;
}

li{
    text-decoration: none;
    display: inline-block;
    margin: 22px;
    color: #121333;
}

.mainpic{ /*logotipo del main*/
    position: absolute;
    bottom: 9.8958333333333vw;/*190/1920 -> 0.098958333333333*/
    left: 3.645833333333vw;/*70/1920 -> 0.03645833333333*/
    width: 29.375vw;/*564/1920 -> 0.29375*/
    height: 11.9270833333333vw;/*229/1920 -> 0.119270833333333*/
    min-width: 300px;
    min-height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/Logo2.png);
    margin-top: 80px;
}

/*--------------------------Común Secciones-----------------------------------*/
section.history, section.about, section.more {
    position: relative;
    width: 89.58333333333333%;/*1720/1920 -> 0.8958333333333333*/
    margin: 3.1666666666667vw auto;
    overflow: hidden;
}

/*--------------------------HISTORIA----------------------------------------*/
.history .wrapper {
    position: relative;
    float: right;
    width: 55%;
    overflow: hidden;
}

.history .img {
    position: absolute;
    background-image: url(../images/office.jpg);
    width: 45%;
    height: 100%;
    left: 0;
    bottom: 0;
}

.history .title {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 300px;
}

.history .content {
    box-sizing: border-box;
    margin-top: 45px;
    width: 100%;
    text-align: justify;
    padding: 60px;
}

/*---------------------------------Sobre Nosotros------------------------------*/
.about::after {
    content: '';
    display: block;
    padding-bottom: 70%;
}

.about .f1 {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 10%;
    left: 0;
}

.about .f1 .img {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(../images/office2.jpg);
}

.about .f1 .img div {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 1% 4%;
    text-align: center;
}

.about .f1 .title {
    float: right;
    text-align: center;
    width: 50%;
    margin-top: 9%;
}

.about .f1 .title::before,
.about .f1 .title::after {
    background-color: #3C4C5D;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 3vw;
}

.about .f1 .title::before {
    right: 0.5em;
}

.about .f1 .title::after {
    left: 0.5em;
}

.about .f2 {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 10%;
    left: 0;
}

.about .f2 .img {
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    width: 60%;
    height: 100%;
    background-image: url(../images/entrada.jpg);
}

.about .f2 .content {
    position: absolute;
    bottom: 0;
    float: left;
    text-align: center;
    width: 40%;
    height: 50%;
}

.about .f2 .content div {
    padding: 30px;
    text-align: left;
}

/*-------------------------------------Nuestro Enfoque----------------------------*/
.more {
    position: relative;
}

.wrapperMore {
    position: relative;
    float: right;
    width: 100%;
    box-sizing: border-box;
}

.wrapperMore .header{
    position: relative;
    height: 102px;
}

.wrapperMore  .title{
    position: relative;
    float: right;
    right: 80px;
    width: 210px;
}

.wrapperMore .shape {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75px;
    height: 55px;
}

.more .textHeader .subtitle {
    float: right;
    width: 45%;
    padding: 50px 10px 50px 30px;
    text-align: right;
    box-sizing: border-box;
}

.more .image {
    float: right;
    width: 100%;
    z-index: -1;
    height: 800px;
    background-image: url(../images/ne.jpg);
}

.more .textContent {
    width: 55%;
    z-index: 10;
    background-color: white;
    position: absolute;
    top: 102px;
    left: 0;
    padding: 30px;
    box-sizing: border-box;
}

.more .textContent div {
    position: relative;
    height: 100%;
}

.more .textContent p {
    position: relative;
    width: 100%;
    column-count: 2;
    text-align: justify;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-gap: 60px;
    column-rule-color: #3C4C5D;
}

hr{ 
    display: inline-block;
    float: left;
    border: none;
    border-left: 2px solid hsla(200, 10%, 50%,100);
    height: 500px;
    margin-top: 40px;
    width: 1px;       
}

@media screen and (max-width: 1366px) {
    /*-------------------------HISTORIA----------------------------------*/
    .history .wrapper {
        width: 100%;
    }

    .history .content {
        border-bottom: 0px;
    }

    .history .img {
        position: relative;
        width: 90%;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .history .container {
        float: left;
        padding-bottom: 40px;
        width: 99.9%;
        border-right: 1px solid #121333;
        border-bottom: 1px solid #121333;
    }

    .history .title {
        width: 50%;
    }

    .history .img::before {
        content: '';
        display: block;
        padding-bottom: 70%;
    }

    /*-------------------------------SOBRE NOSOTROS------------------------------*/
    
    /*-------------------------------NUESTRO ENFOQUE-----------------------------*/
    .more .textContent p {
        column-count: 1;
    }

    .more .textContent {
        width: 45%;
    }

    .more .textHeader .subtitle {
        width: 50%;
    }
}

@media screen and (max-width: 1100px) {
    /*-------------------------------SOBRE NOSOTROS------------------------------*/
    .about .f1 .title {
       text-align: center;
       width: 80%;
       margin: 24px auto;
       float: none;
    }

    .about::after {
       content: none;
       display: none;
       padding-bottom: 0%;
    }

    .about .f1, .about .f2 {
       position: relative;
    }

    section.about {
        margin: 0;
        width: 100%;
    }

    .about .f1 .img, .about .f2 .img {
       position: relative;
       margin-top: 24px;
       margin-bottom: 24px;
       width: 100%;
    }

    .about .f1 .img::before, .about .f2 .img::before {
       content: '';
       display: block;
       padding-bottom: 50%;
    }

    .about .f2 .content {
       position: relative;
       box-sizing: border-box;
       text-align: center;
       width: 100%;
       padding: 8px;
       border-bottom: none;
       border-left: none;
    }
   
    .about .f2 .content div {
       text-align: justify;
    }
}


@media screen and (max-width: 750px) {
    
    /*---------------------------------HISTORIA----------------------------------*/
    .history .wrapper {
        width: 100%;
    }

    .history .wrapper .content {
        border-right: none;
    }

    .history .content {
        padding: 8px;
    }

    section.history {
        margin: 0;
        width: 100%;
    }

    .history .img {
        width: 100%;
    }

    .history .container {
        width: 100%;
        border-right: none;
        border-bottom: none;
    }

    .history .title {
        width: 50%;
        font-size: 2em;
    }

    .about .f1 .title {
        font-size: 2em;
     }

     .about .f2 .content div {
        margin: 24px auto;
        padding: 0px;
     }

    /*-------------------------------NUESTRO ENFOQUE-----------------------------*/
    .more .textHeader .subtitle {
        border-top: none;
        border-left: none;
    }

    .wrapperMore .shape {
        border-right: none;
        border-top: none;
        width: 0;
    }

    .wrapperMore .header {
        height: 100%;
    }

    .more .textHeader .subtitle {
        padding: 16px 8px;
    }

    .wrapperMore .title {
        text-align: center;
        font-size: 2em;
        width: 50%;
        right: 0;
        border-bottom: 1px solid #121333;
    }

    section.more {
        width: 100%;
    }

    .more .textHeader .subtitle {
        width: 100%;
    }

    .more .textContent {
        width: 100%;
        position: relative;
        float: left;
        top: 0;
        left: 0;
        padding: 8px;
        box-sizing: border-box;
    }

    .more .image {
        position: relative;
        height: auto;
        width: 100%;
    }

    .more .image::before {
        content: '';
        display: block;
        padding-bottom: 60%;
        background-position: right center;
    }
    
}