nav {
    position: relative;
    height: 8%;
}

nav ul{
    padding-top: calc(50% - (22px / 2));
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    text-align: center;
    /* top: 50px; */
}

nav li{
    text-decoration: none;
    display: inline-block;
    margin: 22px;
    color: #121333;
}

nav .mainpic{ /*logotipo del main*/
    position: absolute;
    top: 16px;
    left: 4vw;
    width: 150px;/*564/1920 -> 0.29375*/
    height: 50px;/*229/1920 -> 0.119270833333333*/
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/Logo2.png);
}