/*-----------------------------Main------------------------------------*/
#main{
    width: 100%;
    height: 100%;
}


#main .wrapper {
    width: 90%;
}

#main .img {
    position: relative;
    float: left;
    background-image: url(../images/mainTrabajos.jpg);
    width: 60%;
    height: 92%;
    z-index: -1;
}

#main .section {
    float: right;
    width: 40%;
    height: 92%;
    position: relative;
}

#main .section .header {
    position: relative;
    width: 100%;
    height: 50%;
}

#main .section .title {
    position: absolute;
    left: calc(50% - 118.695px);
    bottom: 0;
    margin: 0 auto;
}

#main .section .line {
    position: absolute;
    left: 0;
    width: 50%;
    height: 50%;
}

/*-----------------------------------Proyectos-----------------------*/

section.projects {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.prada {
    display: inline-block;
    padding-top: 26px;
}

.prada .content {
    float: left;
    width: 38%;
}

.prada .content .title {
    width: max-content;
    width: -moz-fit-content;
    padding: 16px 0px 0px 24px;
}

.prada .content .description {
    text-align: justify;
    padding: 24px 0px 16px 24px;
}

.prada .imgWrapper {
    width: 67%;
    float: left;
}

.prada .img1 {
    width: 62%;
    float: left;
    box-sizing: border-box;
    background-image: url(../images/fp1.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.prada .img1::after {
    content: '';
    display: block;
    padding-bottom: 40%;
}


.prada .img2, .prada .img3, .prada .img4 {
    width: 31%;
    float: left;
    margin: 30px 1%;
    box-sizing: border-box;
}

.prada .img2::after, .prada .img3::after, .prada .img4::after {
    content: '';
    display: block;
    padding-bottom: 90%;
}

.prada .img2 {
    background-image: url(../images/fp2.jpg);
}

.prada .img3 {
    background-image: url(../images/fp3.jpg);
}

.prada .img4 {
    background-image: url(../images/fp4.jpg);
}

.interlace {
    position: relative;
    width: 100%;
    margin-top: -5px;
    padding-top: 26px;
    padding-bottom: 60px;
    display: inline-block;
}

.interlace .content {
    float: right;
    width: 38%;
}

.interlace .content .title {
    float: right;
    width: max-content;
    width: -moz-fit-content;
    padding: 16px 24px 0px 0px;
}

.interlace .content .description {
    display: inline-block;
    padding: 24px 24px 16px 0px;
    text-align: justify;
}

.interlace .imgWrapper {
    width: 67%;
    float: right;
}

.interlace .img1 {
    width: 62%;
    float: right;
    box-sizing: border-box;
    background-image: url(../images/in1.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.interlace .img1::after {
    content: '';
    display: block;
    padding-bottom: 40%;
}


.interlace .img2, .interlace .img3, .interlace .img4 {
    width: 31%;
    float: left;
    margin: 30px 1%;
    box-sizing: border-box;
}

.interlace .img2::after, .interlace .img3::after, .interlace .img4::after {
    content: '';
    display: block;
    padding-bottom: 90%;
}

.interlace .img2 {
    background-image: url(../images/in2.jpg);
}

.interlace .img3 {
    background-image: url(../images/in3.jpg);
}

.interlace .img4 {
    background-image: url(../images/in4.jpg);
}


/*--------------------------------Galeria----------------------------*/
section.gallery {
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 90%;
}

section.gallery .frame {
    width: 50%;
    height: 150px;
    margin-left: 50%;
    margin-top: -5px;
}

section.gallery .title {
    position: relative;
    width: max-content;
    width: -moz-fit-content;
    padding-top: 16px;
    margin: 0 auto;
    box-sizing: border-box;
}

section.gallery .images {
    margin-top: 150px;
    width: 100%;
    display: inline-block;
}

.images .img {
    width: 31.3%;
    margin: 30px 1%;
    box-sizing: border-box;
    text-align: center;
    float: left;
    position: relative;
}

.images .img::after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

.images .img1 {
    background-image: url(../images/img1.jpg);
}

.images .img2 {
    margin-top: -4%;
    background-image: url(../images/img2.jpg);
}

.images .img3 {
    background-image: url(../images/img3.jpg);
}

.images .img4 {
    background-image: url(../images/img4.jpg);
}

.images .img5 {
    margin-top: -4%;
    background-image: url(../images/img5.jpg);
}

.images .img6 {
    background-image: url(../images/img6.jpg);
}

.images .img7 {
    background-image: url(../images/img7.jpg);
}

.images .img8 {
    margin-top: -4%;
    background-image: url(../images/img8.jpg);
}

.images .img9 {
    background-image: url(../images/img9.jpg);
}

.images .img div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 111, 129, 0.719);
    color: #DEDAD1;
    display: none;
}

#imagen1:hover #contenido1, #imagen2:hover #contenido2, #imagen3:hover #contenido3,
#imagen4:hover #contenido4, #imagen5:hover #contenido5, #imagen6:hover #contenido6,
#imagen7:hover #contenido7, #imagen8:hover #contenido8, #imagen9:hover #contenido9{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------------------------------MEDIA QUERIES-------------------------*/
@media screen and (max-width: 1366px) {
    /*----------------------Proyectos-----------------*/
    .prada .content, .interlace .content {
        width: 100%;
        margin-bottom: 32px;
    }

    .prada .img1, .prada .img2, .prada .img3, .prada .img4, .interlace .img1, .interlace .img2, .interlace .img3, .interlace .img4 {
        width: 45%;
        margin: 30px 2.5%;
    }

    .prada .img1::after, .prada .img2::after, .prada .img3::after, .prada .img4::after {
        padding-bottom: 60%;
    }
    
    .interlace .img1 {
        background-size: cover;
    }

    .interlace .img1::after, .interlace .img2::after, .interlace .img3::after, .interlace .img4::after {
        padding-bottom: 60%;
    }

    /*----------------------------Galeria-----------------------------*/
    section.gallery .images {
        margin-top: 42px;
    }

    .images .img {
        width: 45%;
        margin: 32px 2.5%;
    }

    .images .img9 {
        margin-left: 30%;
    }

    .images .img::after {
        padding-bottom: 80%;
    }
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    /*------------------------------Proyectos---------------------------*/
    #main .section .title {
        border: none;
    }

    #main .section .line {
        border: none;
    }

    #main .section {
        width: 100%;
        height: 0%;
        position: relative;
    }

    #main .img {
        border: none;
        width: 100%;
    }

    .prada {
        border: none;
    }

    section.projects {
        width: 100%;
    }

    .prada .content .description, .interlace .content .description {
        padding: 24px 16px;
    }

    .prada .img4, .interlace .img4{
        width: 100%;
        margin: 0;
    }
    
    .prada .img2, .prada .img3, .prada .img1, .interlace .img2, .interlace .img3, .interlace .img1 {
        display: none;
    } 

    .interlace {
        padding-bottom: 32px;
    }

    .interlace .content .title, .prada .content .title {
        font-size: 2em;
    }

    /*-------------------------------Galería--------------------------*/
    section.gallery{
        width: 100%;
    }

    section.gallery .images {
        margin-top: 0;
    }
    
    section.gallery .frame {
        height: 0;
        border: none;
    }

    section.gallery .title {
        border: none;
        font-size: 2em;
    }

    section.gallery .title::before {
        right: 0.5em;
    }

    section.gallery .title::after {
        left: 0.5em;
    }

    section.gallery .title::after, section.gallery .title::before {
        background-color: #3C4C5D;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 32vw;
    }

    .images .img {
        width: 75%;
        margin: 16px 12.5%;
    }
}
