/*--------------------------------------Main--------------------------------------*/
#main{
    width: 100%;
    height: 100%;
    background-image: url(../images/main.jpg);
}

nav ul{
    padding-top: calc(50% - (22px / 2));
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 50px;
}

li{
    text-decoration: none;
    display: inline-block;
    width: 7%;
    color: #121333;
}

a:link {
    text-decoration:none;
    color:#121333;
} 

a:visited {
    text-decoration:none;
    color:#121333;
} 

a:hover {
    text-decoration:none;
    color:#818693;
} 

.mainpic{ /*logotipo del main*/
    position: absolute;
    bottom: 9.8958333333333vw;/*190/1920 -> 0.098958333333333*/
    left: 3.645833333333vw;/*70/1920 -> 0.03645833333333*/
    width: 29.375vw;/*564/1920 -> 0.29375*/
    height: 11.9270833333333vw;/*229/1920 -> 0.119270833333333*/
    background-image: url(../images/Logo.png);
    margin-top: 80px;
}

/*--------------------------HISTORIA----------------------------------------*/
section.history, section.about, section.more {
    position: relative;
    width: 89.58333333333333%;/*1720/1920 -> 0.8958333333333333*/
    margin: 8.1666666666667vw auto;
    overflow: hidden;
}

.history .wrapper {
    position: relative;
    float: right;
    width: 55%;
    overflow: hidden;
}

.history .img {
    position: absolute;
    background-image: url(../images/office.jpg);
    width: 45%;
    height: 100%;
    left: 0;
    bottom: 0;
}

.history .title {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 300px;
}

.history .content {
    box-sizing: border-box;
    margin-top: 52px;
    width: 100%;
    /* z-index: -1; */
    text-align: justify;
    padding: 60px;
}

/*---------------------------------Sobre Nosotros------------------------------*/
.about::after {
    content: '';
    display: block;
    padding-bottom: 70%;
}

.about .f1 {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
}

.about .f1 .img {
    position: relative;
    margin-left: 6%;
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(../images/office2.jpg);
}

.about .f1 .img div {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 1% 4%;
    text-align: center;
}

.about .f1 .title {
    float: right;
    text-align: center;
    width: 44%;
    margin-top: 6%;
}

.about .f1 .title::before,
.about .f1 .title::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 18%;
}

.about .f1 .title::before {
    right: 0.5em;
}

.about .f1 .title::after {
    left: 0.5em;
}

.about .f2 {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 200px;
    left: 0;
}

.about .f2 .img {
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    width: 60%;
    height: 120%;
    background-image: url(../images/entrada.jpg);
}

.about .f2 .content {
    position: absolute;
    bottom: 0;
    left: 6%;
    float: left;
    text-align: center;
    width: 34%;
    height: 50%;
}

.about .f2 .content div {
    padding: 30px;
    text-align: left;
}
