/*--------------------------------------Main--------------------------------------*/
#main{
    width: 100%;
    height: 100%;
    background-image: url(../images/main.jpg);
}

nav ul{
    padding-top: calc(50% - (22px / 2));
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 50px;
}

li{
    text-decoration: none;
    display: inline-block;
    width: 7%;
    color: #121333;
}

a:link {
    text-decoration:none;
    color:#121333;
} 

a:visited {
    text-decoration:none;
    color:#121333;
} 

a:hover {
    text-decoration:none;
    color:#818693;
} 

.mainpic{ /*logotipo del main*/
    position: absolute;
    bottom: 9.8958333333333vw;/*190/1920 -> 0.098958333333333*/
    left: 3.645833333333vw;/*70/1920 -> 0.03645833333333*/
    width: 29.375vw;/*564/1920 -> 0.29375*/
    height: 11.9270833333333vw;/*229/1920 -> 0.119270833333333*/
    background-image: url(../images/Logo.png);
    margin-top: 80px;
}

/*--------------------------Común Secciones-----------------------------------*/
section.history, section.about, section.more {
    position: relative;
    width: 89.58333333333333%;/*1720/1920 -> 0.8958333333333333*/
    margin: 8.1666666666667vw auto;
    overflow: hidden;
}

/*--------------------------HISTORIA----------------------------------------*/
.history .wrapper {
    position: relative;
    float: right;
    width: 55%;
    overflow: hidden;
}

.history .img {
    position: absolute;
    background-image: url(../images/office.jpg);
    width: 45%;
    height: 100%;
    left: 0;
    bottom: 0;
}

.history .title {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 300px;
}

.history .content {
    box-sizing: border-box;
    margin-top: 52px;
    width: 100%;
    text-align: justify;
    padding: 60px;
}

/*---------------------------------Sobre Nosotros------------------------------*/
.about::after {
    content: '';
    display: block;
    padding-bottom: 70%;
}

.about .f1 {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 10%;
    left: 0;
}

.about .f1 .img {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(../images/office2.jpg);
}

.about .f1 .img div {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 1% 4%;
    text-align: center;
}

.about .f1 .title {
    float: right;
    text-align: center;
    width: 50%;
    margin-top: 8%;
}

.about .f1 .title::before,
.about .f1 .title::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 18%;
}

.about .f1 .title::before {
    right: 0.5em;
}

.about .f1 .title::after {
    left: 0.5em;
}

.about .f2 {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 10%;
    left: 0;
}

.about .f2 .img {
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    width: 60%;
    height: 100%;
    background-image: url(../images/entrada.jpg);
}

.about .f2 .content {
    position: absolute;
    bottom: 0;
    float: left;
    text-align: center;
    width: 40%;
    height: 50%;
}

.about .f2 .content div {
    padding: 30px;
    text-align: left;
}

/*-------------------------------------Nuestro Enfoque----------------------------*/
.more {
    position: relative;
}

.wrapperMore {
    position: relative;
    float: right;
    width: 100%;
    box-sizing: border-box;
}

.wrapperMore .header{
    position: relative;
    height: 102px;
}

.wrapperMore  .title{
    position: relative;
    float: right;
    right: 80px;
    width: 150px;
}

.wrapperMore .shape {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75px;
    height: 55px;
}

.more .textHeader .subtitle {
    float: right;
    width: 45%;
    padding: 50px 10px 50px 30px;
    text-align: right;
    box-sizing: border-box;
}

.more .image {
    float: right;
    width: 100%;
    z-index: -1;
    height: 700px;
    background-image: url(../images/ne.jpg);
}

.more .textContent {
    width: 55%;
    z-index: 10;
    background-color: white;
    position: absolute;
    top: 102px;
    left: 0;
    padding: 30px;
    box-sizing: border-box;
}

.more .textContent div {
    position: relative;
    height: 100%;
}

.more .textContent p {
    position: relative;
    width: 40%;
    float: left;
    padding: 30px;
    text-align: justify;
}

hr{ 
    display: inline-block;
    float: left;
    border: none;
    border-left: 2px solid hsla(200, 10%, 50%,100);
    height: 500px;
    margin-top: 40px;
    width: 1px;       
}

/*-------------------------------------------Footer-------------------------------*/
footer {
    height: 120px;
    width: 100%;
    background-color: #808795;
    position: relative;
}

footer ul {
    padding-top: calc(50% - (22px / 2));
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 50px;
}

footer li {
    width: 12%;
    color: #E0DBD2;
}

footer a {
    color: #E0DBD2;
}

footer a:visited {
    color: #E0DBD2;
}

footer p {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 30px;
    left: 15px;
    color: #E0DBD2;
}

footer div div {
    width: 40px;
    height: 40px;
    background-color: rgba(224, 219, 210, 0.24);
    position: absolute;
    right: 60px;
    top: 40px;
}