body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

p, span, div {
    overflow: hidden;
}

input:required, textarea:required {
    box-shadow: none;
}

/* imports fonts */
@font-face {
    font-family: "Alcubierre";
    src: url("../fonts/Alcubierre/Alcubierre.eot");
    src: url("../fonts/Alcubierre/Alcubierre.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Alcubierre/Alcubierre.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Alcubierre/Alcubierre.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Alcubierre/Alcubierre.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Alcubierre/Alcubierre.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Alcubierre/Alcubierre.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Morva";
    src: url("../fonts/Morva/MORVA.eot");
    src: url("./fonts/MORVA.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Morva/MORVA.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Morva/MORVA.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Morva/MORVA.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Morva/MORVA.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Morva/MORVA.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Palash";
    src: url("../fonts/Palash/Palash-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Palash/Palash-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Palash/Palash-Regular.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Palash/Palash-Regular.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Palash/Palash-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Palash/Palash-Regular.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Palash/Palash-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "RonniaCond";
    src: url("../fonts/Ronnia/fonts/RonniaCond-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Ronnia/fonts/RonniaCond-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Ronnia/fonts/RonniaCond-Light.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Ronnia/fonts/RonniaCond-Light.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Ronnia/fonts/RonniaCond-Light.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Ronnia/fonts/RonniaCond-Light.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Ronnia/fonts/RonniaCond-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: "RonniaCond";
    src: url("../fonts/Ronnia/fonts/RonniaCond-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Ronnia/fonts/RonniaCond-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Ronnia/fonts/RonniaCond-Regular.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Ronnia/fonts/RonniaCond-Regular.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Ronnia/fonts/RonniaCond-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Ronnia/fonts/RonniaCond-Regular.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Ronnia/fonts/RonniaCond-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Ronnia";
    src: url("../fonts/Ronnia/fonts/Ronnia-Light.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Ronnia/fonts/Ronnia-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Ronnia/fonts/Ronnia-Light.otf") format("opentype"), /* Open Type Font */
      url(".../fonts/Ronnia/fonts/Ronnia-Light.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Ronnia/fonts/Ronnia-Light.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Ronnia/fonts/Ronnia-Light.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Ronnia/fonts/Ronnia-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: "Ronnia";
    src: url("../fonts/Ronnia/fonts/Ronnia-Regular.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Ronnia/fonts/Ronnia-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Ronnia/fonts/Ronnia-Regular.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Ronnia/fonts/Ronnia-Regular.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Ronnia/fonts/Ronnia-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Ronnia/fonts/Ronnia-Regular.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Ronnia/fonts/Ronnia-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "Ronnia";
    src: url("../fonts/Ronnia/fonts/Ronnia-Thin.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Ronnia/fonts/Ronnia-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Ronnia/fonts/Ronnia-Thin.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Ronnia/fonts/Ronnia-Thin.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Ronnia/fonts/Ronnia-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Ronnia/fonts/Ronnia-Thin.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Ronnia/fonts/Ronnia-Thin.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 100;
    font-style: normal;
}

/* variables */
:root {
    /* tam fuentes */
    --font-big-title: 8.2em;
    --font-title: 2.5em;
    --font-subtitle: 2em;
    --font-normal: 1.3em;
    --font-small: .9em;

    /* color */
    --primary-color: #ACAFAE;
    --subfooter-color: rgba(172, 175, 174, 0.9);
    --secondary-color: #8B7D67;
    
    /* margin */
    --margin-small: 8px;
    --margin-medium: 16px;
    --margin-big: 32px;
    --margin-xxl: 64px;
    
    /* padding */
    --padding-small: 8px;
    --padding-medium: 16px;
    --padding-big: 32px;
    --padding-xxl: 64px;
}

/* fonts */
.txt-n {
    font-size: var(--font-normal);
    font-family: 'Ronnia', sans-serif;
    font-weight: 100; 
}

.txt-nb {
    font-size: var(--font-normal);
    font-family: 'RonniaCond', sans-serif;
    font-weight: normal; 
}

.txt-t {
    font-size: var(--font-title);
    font-family: 'Palash', sans-serif;
}

.txt-tb {
    font-size: var(--font-subtitle);
    font-family: 'Palash', sans-serif;
}

.txt-bt {
    font-size: var(--font-big-title);
    font-family: 'Morva', sans-serif;
    color: var(--secondary-color);
}

.txt-t-m {
    font-size: var(--font-title);
    font-family: 'Morva', sans-serif;
}

.txt-nav {
    font-size: 1em;
    font-family: 'Palash', sans-serif;
}

.txt-sm {
    font-size: var(--font-small);
    font-family: 'Ronnia', sans-serif;
    font-weight: 100;
}

.txt-smb {
    font-size: var(--font-small);
    font-family: 'Ronnia', sans-serif;
    font-weight: normal;
}

/* images */
.bg-cover::before {
    background-size: cover;
}

.bg-contain::before {
    background-size: contain;
}

.bg-cover::before, .bg-contain::before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}
/* btn */
.btn-n {
    padding: 6px 16px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.btn-n a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    transition: color .4s;
}

.btn-n a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transition: width .4s;
    z-index: -1;
}

.btn-n a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}

.btn-n a:hover {
    color: white;
}

/* preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: transparent;
}

.preloader .cols {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
}

.preloader .cols > div {
    width: 25%;
    height: 100%;
    background-color: black;
    transition: all .6s;
}

.preloader .pre-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

#rhv2w {
    width: 50vw;
    height: 50vh;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    overflow: visible;
}

.pre-hidden {
    opacity: 0;
}

.pre-dissapear {
    height: 0 !important;
}

.to-back {
    z-index: -1 !important;
}

/* nav */
header .ico {
    position: fixed;
    top: 0;
    left: 16px;
    padding-top: 4px;
    
    z-index: 11;
    transition: all .7s;
}

header .ico::before {
    background-image: url(../images/vectors/logo.svg);
    padding-bottom: 100%;
}

header .ico.a {
    width: 15%;
}

header .ico.b {
    width: 60px;
}

.resize-ico {
    width: 60px !important;
    padding-top: 0px;
}

.disappear-ul-nav {
    margin-top: -80px;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color:white;
    transition: all .5s;
}

header nav ul {
    transition: all .5s;
    position: relative;
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
}

header nav ul li {
    position: relative;
}

header nav ul li::before {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 100%;
    /* border-bottom: 1px solid black; */
}

header nav ul li:first-child::before {
    width: calc(100% + 30px);
    left: -30px;
}

header nav ul li::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: -15px;
    width: 100%;
    border-right: 1px solid black;
    z-index: -10;
}

header nav ul li:last-child::after {
    border-right: none;
}

nav .content {
    font-weight: 700;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

nav .content a {
    position: relative;
    color: black;
    text-decoration: none;
    transition: all 0.4s;
    padding: 4px 8px;
}

nav .content img {
    position: absolute;
    width: 39px;
    top: 8px;
    left: 24px;
    margin-bottom: 16px;
}

nav .content ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;

    list-style-type: none;
}

nav .content li {
    padding-right: 30px;
}

nav .content a:hover:not(.selected) {
    /* color: #35363859; */
    font-size: 1.08em;
}

nav .content a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: calc(50% - 20px);
    width: 0;
    transition: width .3s;
    border-bottom: 1px solid black;
}

nav .content a:hover:not(.selected)::before, nav .content a.selected::before {
    width: 40px;
    left: calc(50% - 20px);
}

/*------------------------ico nav----------------*/
#nav-ico {
    position: absolute;
    top: -50px;
    right: 16px;
    width: 30px;
    height: 30px;
    margin: 4px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-ico span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: black;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-ico span:nth-child(even) {
    left: 50%;
    border-radius: 0 4px 4px 0;
}

#nav-ico span:nth-child(odd) {
    left:0px;
    border-radius: 4px 0 0 4px;
}

#nav-ico span:nth-child(1), #nav-ico span:nth-child(2) {
    top: 0px;
}

#nav-ico span:nth-child(3), #nav-ico span:nth-child(4) {
    top: 10px;
}

#nav-ico span:nth-child(5), #nav-ico span:nth-child(6) {
    top: 20px;
}

/*------------------------ico nav animacion----------------*/
#nav-ico.open span:nth-child(1),#nav-ico.open span:nth-child(6) {
    transform: rotate(45deg);
}

#nav-ico.open span:nth-child(2),#nav-ico.open span:nth-child(5) {
    transform: rotate(-45deg);
}

#nav-ico.open span:nth-child(1) {
    left: 2px;
    top: 5px;
}
  
  #nav-ico.open span:nth-child(2) {
    left: calc(50% - 3px);
    top: 5px;
}
  
  #nav-ico.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}
  
  #nav-ico.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}
  
  #nav-ico.open span:nth-child(5) {
    left: 2px;
    top: 16px;
}
  
  #nav-ico.open span:nth-child(6) {
    left: calc(50% - 2px);
    top: 16px;
}

.visible {
    opacity: 1;
}

.hidden {
    height: 0%;
    display: none;
}

/* footer */
footer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

footer .pre {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 64px;
    background-color: var(--primary-color);
}

footer .pre .img-social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .pre .img-social .img {
    flex: 1 1 200px;
    cursor: pointer;
}

footer .pre .img-social .img:nth-child(odd)::before {
    padding-bottom: 100%;
}

footer .pre .img-social .img:nth-child(even)::before {
    padding-bottom: 80%;
}

footer .pre .img-social .img1::before {
    background-image: url(../images/Ethnie-Xtieng.jpg);
}

footer .pre .img-social .img2::before {
    background-image: url(../images/rehahnandreaddaoladies.jpg);
}

footer .pre .img-social .img3::before {
    background-image: url(../images/descarga\ \(24\).jpg);
}

footer .pre .img-social .img4::before {
    background-image: url(../images/descarga\ \(11\).jpg);
}

footer .pre .img-social .img5::before {
    background-image: url(../images/descarga\ \(23\).jpg);
}

footer .pre .img-social .img6::before {
    background-image: url(../images/Sapa180814-455.jpg);
}

footer .pre .img-social .img7::before {
    background-image: url(../images/BuonMaThuot081014-393.jpg);
}

footer .newsletter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 8% 10% 5% 10%;
}

footer .newsletter .description {
    flex: 1 1 300px;
    text-align: justify;
    margin: var(--margin-medium) var(--margin-big) var(--margin-medium) 0;
}

footer .newsletter .title {
    flex: 0 0 300px;
    text-align: center;
    position: relative;
    margin: var(--margin-medium) 0 ;
    overflow: unset;
}

footer .newsletter .title::before, footer .newsletter .title::after {
    content: '';
    display: block;
    position: absolute;
    top: -150%;
    height: 400%;
    border-left: 2px solid black;
}

footer .newsletter .title::before {
    left: 0;
}

footer .newsletter .title::after {
    right: 0;
}

footer .newsletter form {
    flex: 1 1 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: var(--margin-medium) 0 var(--margin-medium) var(--margin-big);
}

footer .newsletter form input {
    background-color: unset;
    border: unset;
    border-bottom: 1px solid black;
    margin-bottom: var(--margin-medium);
    padding: 4px 16px;
    text-align: center;
    outline: none;
    transition: all .3s;
    width: 100%;
    max-width: 450px;;
}

footer .newsletter form input:focus, footer .newsletter form input:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
}

footer .newsletter form .btn-n {
    width: 100%;
    max-width: 180px;
}

footer .footer {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--subfooter-color);
}

footer .footer .use {
    display: flex;
    flex-flow: row wrap;
    margin: 5% 10%;
}

footer .footer .use .links, footer .footer .use .social {
    flex: 1 1 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

footer .footer .use .links {
    margin-top: 20px;
}

footer .footer .use .social {
    margin-top: 60px;
}

footer .footer .use .social .icons {
    display: flex;
    flex-flow: row nowrap;
}

footer .footer .use .links .title, footer .footer .use .social .title {
    font-size: 1.4em;
    padding-top: 8px;
}

footer .footer .use .links .title {
    padding-top: 16px !important;
}

footer .footer .use .links .title::before, footer .footer .use .social .title::before {
    content: '';
    position: absolute;
    border-top: 1px solid black;
}

footer .footer .use .links .title::before{
    width: calc(50% - 40px);
    right: 0;
    top: calc(45% - 8px);
} 

footer .footer .use .social .title::before {
    width: calc(50% - 80px);
    left: 0;
    top: calc(45% - 30px);
}

footer .footer .social .ico {
    width: 50px;
    height: 50px;
    margin: 16px 8px;
    box-sizing: border-box;
    overflow: hidden;
}

footer .ico > svg {
    transition: all .3s;
    width: 45px;
    cursor: pointer;
}

footer .footer .social .ico svg:hover {
    fill: #8B7D67;
    width: 50px;
}

footer .footer .links .items {
    margin-top: 24px;
    width: 320px;
    height: 30px;
    overflow: hidden;
}

footer .footer .links .items a {
    margin: 0 8px;
    text-decoration: none;
    color: black;
    position: relative;
    transition: all .3s;
}

footer .footer .links .items a:hover {
    font-size: 1.1em;
}

footer .footer .links .items a::before {
    content: '';
    position: absolute;
    width: 0%;
    bottom: -4px;
    right: 25%;
    transition: width .3s;
    border-bottom: 1px solid black;
}

footer .footer .links .items a:hover::before {
    left: 25%;
    right: auto;
    width: 50%;
}

footer .footer .terms {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 16px 16px 16px;
    align-items: flex-end;
}

footer .footer .terms .links {
    margin-left: auto;
    position: relative;
    padding: 4px;
    box-sizing: border-box;
}

footer .footer .terms .links:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid black;
}

footer .footer .terms .links a {
    text-decoration: none;
    color: black;
    transition: color .3s;
}

footer .footer .terms .links a:hover {
    color: #8B7D67;
}

footer .footer .terms .links a:first-child {
    margin-right: 10px;
}

footer .footer .terms .links a:last-child {
    margin-left: 10px;
}

footer .footer .terms .links a:nth-child(2) {
    position: relative;
}

footer .footer .terms .links a:nth-child(2)::before, footer .footer .terms .links a:nth-child(2)::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    border-left: 1px solid black;
}

footer .footer .terms .links a:nth-child(2)::before {
    left: -8px;
}

footer .footer .terms .links a:nth-child(2)::after {
    right: -8px;
}

/* media img-social y footer */
@media screen and (max-width: 1222px) {
    .img-social .img6, 
    .img-social .img7 {
        display: none;
    }

    footer .pre .newsletter {
        flex-flow: column nowrap;
    }

    footer .pre .newsletter .title{
        flex: initial;
    }

    footer .pre .newsletter .title::before, 
    footer .pre .newsletter .title::after {
        height: 60px;
        top: -10px;
    }

    footer .pre .newsletter .title::before {
        left: -16px;
    } 

    footer .pre .newsletter .title::after {
        right: -16px;
    }

    footer .pre .newsletter .description {
        flex: initial;
        max-width: 600px;
        text-align: center;
        margin-bottom: 32px;
    }

    footer .pre .newsletter form {
        flex: initial;
        margin: var(--margin-medium);
        width: 100%;
        max-width: 600px;
    }
}

/* nav media */
@media screen and (max-width: 1100px) {
    /*---------------------------NAV----------------*/
    header .ico {
        width: 60px !important;
        padding-top: 0px !important;
    }

    #nav-ico {
        position: unset;
        margin-right: 32px;
        margin-top: 16px;
        padding-bottom: 8px;
    }

    header nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-content: center;

        clip-path: none;
        height: auto;
    }

    nav .content img {
        flex: unset;

        position: unset;
        margin: 8px auto 8px 16px;
    }

    nav .content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;

        width: 100%;
    }

    nav .content ul {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        margin-top: -100%;
        transition: all .5s ;
    }

    nav .content ul li {
        margin-right: 200%;
        margin-bottom: 16px;
        transition: all, 0.5s;
    }

    nav .content ul.visible {
        margin-top: 0%;
        padding: inherit;
    }

    nav .content ul li.show {
        margin-right: 0%;
    }

    header nav ul li::after {
        content: unset;
    }
}

@media screen and (max-width: 955px) {
    footer .footer .use {
        flex-flow: column nowrap;
        align-items: center;
    }

    footer .footer .use img,
    footer .footer .use .social,
    footer .footer .use .links {
        flex: unset;
    }

    footer .footer .use img {
        order: 1;
    }

    footer .footer .use .social {
        order: 2;
        margin-top: 32px;
    }

    footer .footer .use .links {
        order: 3;
    }

    footer .footer .use .links .title::after, footer .footer .use .social .title::after {
        content: '';
        position: absolute;
        border-top: 1px solid black;
    }

    footer .footer .use .links .title::after {
        width: calc(50% - 40px);
        left: 0;
        top: 30px;
    } 

    footer .footer .use .links .title::before {
        top: 30px;
    }
    
    footer .footer .use .social .title::after {
        width: calc(50% - 80px);
        right: 0;
        top: 21px;
    }
}

@media screen and (max-width: 530px) {
    footer .footer .terms {
        flex-flow: column nowrap;
    }

    footer .footer .terms .copy {
        align-self: flex-start;
    }

    footer .footer .terms .links {
        align-self: center;
        margin-top: 16px;
        margin-left: unset;
    }

    .txt-nav {
        font-size: .9em;
    }

    footer .footer .links .items {
        text-align: center;
    }
}
