section.gallery div {
    overflow: initial;
}
section.bg {
    padding-top: 180px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: transparent;
}

section.bg:before {
    content: '';
    display: block;
    position: absolute;
    top: 76%;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

section.gallery {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--primary-color);
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
}

section.gallery .col {
    flex: 1 1 300px;
    display: flex;
    flex-flow: column nowrap;
}

section.bg .content {
    z-index: 4;
    mix-blend-mode: color-dodge;
}

/* Tam imagenes */
.img-small::before {
    padding-bottom: 60%;
}

.img-normal::before {
    padding-bottom: 100%;
}

.img-big::before {
    padding-bottom: 130%;
}

/* conf contenedores */
section.gallery .img {
    position: relative;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section.gallery .img::before {
    width: 100%;
    transition: all .5s;
}

section.gallery .img a {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
}

section.gallery .col1 .img1::before {
    background-image: url(../images/galeria/img1.jpg);
}

section.gallery .col1 .img2::before {
    background-image: url(../images/galeria/img2.jpg);
}

section.gallery .col1 .img3::before {
    background-image: url(../images/galeria/img3.jpg);
}

section.gallery .col1 .img4::before {
    background-image: url(../images/galeria/img4.jpg);
}

section.gallery .col1 .img5::before {
    background-image: url(../images/galeria/img5.jpg);
}

section.gallery .col1 .img6::before {
    background-image: url(../images/galeria/img6.jpg);
}

section.gallery .col1 .img7::before {
    background-image: url(../images/galeria/img7.jpg);
}

section.gallery .col2 .img1::before {
    background-image: url(../images/galeria/img8.jpg);
}

section.gallery .col2 .img2::before {
    background-image: url(../images/galeria/img9.jpg);
}

section.gallery .col2 .img3::before {
    background-image: url(../images/galeria/img10.jpg);
}

section.gallery .col2 .img4::before {
    background-image: url(../images/galeria/img11.jpg);
}

section.gallery .col2 .img5::before {
    background-image: url(../images/galeria/img12.jpg);
}

section.gallery .col2 .img6::before {
    background-image: url(../images/galeria/img13.jpg);
}

section.gallery .col2 .img7::before {
    background-image: url(../images/galeria/img14.jpg);
}

section.gallery .col3 .img1::before {
    background-image: url(../images/galeria/img15.jpg);
}

section.gallery .col3 .img2::before {
    background-image: url(../images/galeria/img16.jpg);
}

section.gallery .col3 .img3::before {
    background-image: url(../images/galeria/img17.jpg);
}

section.gallery .col3 .img4::before {
    background-image: url(../images/galeria/img18.jpg);
}

section.gallery .col3 .img5::before {
    background-image: url(../images/galeria/img19.jpg);
}

section.gallery .col3 .img6::before {
    background-image: url(../images/galeria/img20.jpg);
}

section.gallery .col3 .img7::before {
    background-image: url(../images/galeria/img21.jpg);
    width: 100%;
}

section.gallery .col2 :first-child.img::before, section.gallery .col1 :last-child::before, section.gallery .col3 :last-child::before {
    padding-bottom: 60%;
}

section.gallery .col1 :not(:last-child)::before, section.gallery .col2 :not(:first-child)::before, section.gallery .col3 :not(:last-child)::before {
    padding-bottom: 100%;
}

section.gallery .col .img .ico {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    opacity: 0;
    background-image: url(../images/icons/focus.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s;
}

section.gallery .col .img {
    transition: all .5s;
}

section.gallery .col .img:hover::before, section.gallery .col .img:focus::before {
    /* -webkit-filter: blur(3px);
    filter: blur(8px); */
    /* filter: invert(.6); */
    filter: brightness(30%);
}

section.gallery .col .img:hover .ico, section.gallery .col .img:hover .ico {
    opacity: 1;
}

section.gallery .col .img:hover, section.gallery .col .img:focus {
    transform: scale(1.08);
    z-index: 4;
}