header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/main.jpg);
    background-position: 80% 15% !important;
    background-size: cover;
    background-repeat: no-repeat;
}

/* About */
section.about {
    display: flex;
    flex-flow: column nowrap;
    padding: 5% 10%;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--primary-color);
}

section.about article {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
}

section.about article.intro {
    flex-flow: column nowrap;
    align-items: center;
}

section.about article.intro .title {
    position: relative;
}

section.about article.intro .title::before {
    content: '';
    position: absolute;
    top: -16px;
    width: 30%;
    left: 35%;
    border-top: 1px solid black; 
}

section.about article.about {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

section.about article.about > div {
    padding: 32px;
}

section.about article.about .img, section.about article.about .content {
    flex: 1 1 500px;
    box-sizing: border-box;
    position: relative;
}

section.about article.about .content {
    overflow: initial;
}

section.about article.about .img::before {
    padding-bottom: 70%;
    background-image: url(../images/Rehahn.jpg);
}

section.about article.intro .title, section.about article.about .title {
    margin-bottom: var(--margin-big);
}

section.about article.intro .content {
    column-count: 2;
    column-gap: var(--margin-big);
    text-align: justify;
    max-width: 1200px;
}


section.about article.about .content::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    top: calc(var(--font-title) + (var(--margin-big) * 3));
    left: 0;
    border-left: 1px solid black;
}

section.about article.about .content .description {
    text-align: justify;
}

section.about .action {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-left: var(--margin-big);
    z-index: 3;
}

section.about .action .btn-n {
    background-color: var(--primary-color);
    margin-right: 5px;
}

section.title {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 32px;
}

section.title::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(50% + 10px);
}

section.title.first::before {
    background-color: var(--primary-color);
    z-index: -1;
}

/* biografía */
section.biography {
    margin-top: var(--margin-big);
}

section.biography .wrapper {
    margin: 5% 10%;
}

section.biography .wrapper .content {
    columns: 2;
    column-gap: var(--margin-big);
    text-align: justify;
    position: relative;
    padding: 32px;
}

section.biography .wrapper .content::after, section.biography .wrapper .content::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 70%;
}

section.biography .wrapper .content::before {
    top: 0;
    left: 0;
    border-top: 1px solid var(--secondary-color);
    border-left: 1px solid var(--secondary-color);
}

section.biography .wrapper .content::after {
    bottom: 0;
    right: 0;
    border-bottom: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
}

/* exposiciones */
section.title.second::before {
    top: unset;
    bottom: -16px;
    background-color: var(--primary-color);
    z-index: -1;
}

section.title.second p {
    margin: 0;
    z-index: 4;
}

section.expo {
    margin-top: -90px;
    width: 100%;
}

section.expo .wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: var(--primary-color);
}

section.expo .wrapper .item {
    flex: 1 1 250px;

    display: flex;
    flex-flow: column nowrap;
    margin: 0 32px;
}

section.expo .wrapper .item .pinza {
    position: relative;
}

section.expo .wrapper .item .pinza::before {
    height: 180px;
    background-image: url(../images/vectors/pinzas.svg);
    background-position: center bottom;
}

section.expo .wrapper .item .wrapper-pinza {
    position: relative;
    display: flex;
    cursor: pointer;
}

section.expo .wrapper .item .wrapper-pinza::before {
    width: 100%;
    padding-bottom: 126%;
    background-position: center top;
}

section.expo .wrapper .item .wrapper-pinza::after {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .3s;
    padding: 15%;
    box-sizing: border-box;
    text-align: center;
    color: var(--secondary-color);
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

section.expo .wrapper .item1 .wrapper-pinza::after {
    content: 'Ojos del mundo';
}

section.expo .wrapper .item2 .wrapper-pinza::after {
    content: 'Retratos de Varanasi';
}

section.expo .wrapper .item3 .wrapper-pinza::after {
    content: 'Retratos de Vietnam';
}

section.expo .wrapper .item .wrapper-pinza:hover::after {
    opacity: 1;
}

section.expo .wrapper .item1 .wrapper-pinza::before {
    background-image: url(../images/descarga\ \(4\).jpg);
}

section.expo .wrapper .item2 .wrapper-pinza::before {
    background-image: url(../images/1268200_567058429997501_1809308154_o.jpg);
}

section.expo .wrapper .item3 .wrapper-pinza::before {
    background-image: url(../images/1052396_541027769267234_1870984504_o.jpg);
}

section.expo .wrapper .item .framework {
    background-image: url(../images/vectors/cuadro.svg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

section.expo .wrapper .item .wrapper-btn {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: var(--margin-big);
    margin-bottom: var(--margin-big);
}

@media screen and (max-width: 1266px) {
    section.about .action {
        margin-left: -32px;
        justify-content: flex-start;
    }

    section.about article.about .title {
        margin-top: 16px;
    }

    section.about article.about .description {
        columns: 2;
        column-gap: 32px;
    }
}

@media screen and (max-width: 970px) {
    section.about article.intro .content,
    section.about article.about .content .description,
    section.biography .wrapper .content {
        columns: 1;
        max-width: 600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 959px) {
    section.expo .wrapper {
        justify-content: center;
    }

    section.expo .wrapper .item {
        flex: 1 1 500px;
        max-width: 600px;
    }
}

@media screen and (max-width: 690px) {
    .txt-bt {
        font-size: 4em;
    }

    section.expo {
        margin-top: unset;
    }

    section.title.second::before {
        bottom: -22px;
    }

    section.expo .wrapper {
        margin-top: -36px;
    }

    section.about,
    section.about article.about .img {
        padding: 0;
    }

    section.about article.about .img {
        margin-bottom: 32px;
    }

    section.about article.about .content {
        margin-left: 32px;
    }

    section.about .action {
        margin-left: 20px;
        padding-bottom: 16px;
    }

    section.about article.about {
        margin-bottom: unset;
    }

    section.biography .wrapper {
        margin: unset;
    }

    section.biography .wrapper .content::before {
        left: 16px;
    }

    section.biography .wrapper .content::after {
        right: 16px;
    }

    section.about article.intro {
        padding: 10% 5%;
        box-sizing: border-box;
    }
}