section.bg {
    padding-top: 180px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: transparent;
}

div:not(.ov-h) {
    overflow: unset;
}

section.bg:before {
    content: '';
    display: block;
    position: absolute;
    top: 76%;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

section.bg .content {
    z-index: 4;
    mix-blend-mode: color-dodge;
}

section.intro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 5% 10%;
    padding-bottom: 0;
    background: var(--primary-color);
}

section.intro div {
    max-width: 600px;
    text-align: center;
    position: relative;
    overflow: unset;
}

section.intro div::before {
    content: '';
    display: block;
    width: 80px;
    position: absolute;
    top: -16px;
    left: calc(50% - 40px);
    border-top: 1px solid black;
}

section .intro, section .summary, section .book {
    padding: 10% 10%;
    width: 100%;
    box-sizing: border-box;
}

/* comun trabajos */
section.work {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

section.work .intro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

section.work .intro > div {
    flex: 1 1 400px;
    box-sizing: border-box;
    width: 100%;
}

section.work .intro .img::before {
    padding-bottom: 90%;
}

section.work .intro .wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    overflow: unset;
}

section.work .intro .wrapper::before,
section.work .intro .wrapper::after {
    content: '';
    position: absolute;
}

section.work .intro .wrapper::before {
    height: 180px;
    top: calc(50% - 90px);
    border-left: 1px solid black;
}

section.work .intro .wrapper::after {
    width: 50%;
    top: 50%;
    border-bottom: 1px solid black;
}

section.work .intro .img {
    z-index: 2;
}

section.work .intro .wrapper .title {
    margin-bottom: var(--margin-medium);
    overflow: unset;
}

section.work .intro .wrapper .content {
    text-align: justify;
}

section.work .summary .wrapper {
    display: flex;
    flex-flow: row wrap;
}

section.work .summary .wrapper .back {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 400px;
    align-items: center;
    justify-content: center;
}

section.work .summary .wrapper .back .title {
    margin-bottom: var(--margin-medium);
}

section.work .summary .wrapper .back .content {
    text-align: justify;
}

section.work .summary .wrapper .front {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 400px;
    margin-top: var(--margin-big);
    box-sizing: border-box;
}

section.work .summary .wrapper .front .gallery {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

section.work .summary .wrapper .front .img-cover {
    width: 50%;
}

section.work .summary .wrapper .gallery > div {
    width: 50%;
    position: relative;
}

section.work .summary .wrapper .gallery > div::before {
    content: '';
    padding-bottom: 100%;
    transition: all .3s;
}

.bg-cover a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img {
    overflow: hidden;
}

.gallery .img:hover::before {
    filter: invert(.2);
}

section.work .book {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

section.work .book > div {
    flex: 1 1 400px;
    display: flex;
}

section.work .book .wrapper-img {
    justify-content: center;
}

section.work .book .wrapper-img .img {
    width: 100%;
}

section.work .book .wrapper-img .img::before {
    padding-bottom: 80%;
}

section.work .book .content {
    flex-flow: column nowrap;
    box-sizing: border-box;
}

section.work .book .content {
    text-align: justify;
}

section.work .book .content .wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    padding-top: var(--padding-medium);
}

section.work .book .content .wrapper::before {
    content: '';
    position: absolute;
    top: calc(var(--padding-medium));
    height: calc(100% + var(--padding-big));
    border-left: 1px solid black;
}

section.work .book .wrapper .btn-n {
    margin-top: var(--margin-medium);
    z-index: 4;
}

/* trabajo 1 */
section.work1 .intro {
    background-color: var(--primary-color);
}

section.work1 .intro .img::before {
    background-image: url(../images/galeria/Jaipur280414-116-2.jpg);
    margin-right: var(--margin-big);
    background-position: right center;
}

section.work1 .intro .wrapper  {
    padding-left: var(--padding-xxl);
}

section.work1 .intro .wrapper::before {
    left: 32px;
}

section.work1 .intro .wrapper::after {
    left: calc(-50% + 32px);
}

section.work1 .summary .wrapper .front .img1::before {
    background-image: url(../images/galeria/img15.jpg);
}

section.work1 .summary .wrapper .front .img2::before {
    background-image: url(../images/galeria/Rehahn-and-giving-back-in-travel-photography-Namaste-India-Photo-credit-Rehahn.jpg);
}

section.work1 .summary .wrapper .front .img3::before {
    background-image: url(../images/galeria/Jaipur300414-195.jpg);
}

section.work1 .summary .wrapper .front .img4::before {
    background-image: url(../images/galeria/Jaisalmer04052014-277.jpg);
}

section.work1 .back {
    background-color: var(--primary-color);
    border-radius: 3px;
    margin-bottom: var(--margin-big);
    padding: 16px 64px 16px 32px;
    margin-right: -32px;
    box-sizing: border-box;
}

section.work1 .front .gallery {
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    height: auto;
}

section.work1 .book {
    background-color: var(--primary-color);
}

section.work1 .book .content {
    padding-left: var(--padding-big);
}

section.work1 .book .content .wrapper {
    padding-left: var(--padding-big);
}

section.work1 .book .content .wrapper::before {
    left: 0;
}

section.work1 .book .content .wrapper .btn-n {
    margin-left: calc(var(--margin-big) * -1 - var(--margin-medium));
    background-color: var(--primary-color);
}

section.work1 .book .img::before {
    background-image: url(../images/book1.png)
}

/* trabajo 2 */
section.work2 .intro .img::before {
    background-image: url(../images/galeria/img2.jpg);
    margin-right: var(--margin-big);
}

section.work2 .intro .wrapper  {
    padding-right: var(--padding-xxl);
}

section.work2 .intro .wrapper::before {
    right: 32px;
}

section.work2 .intro .wrapper::after {
    right: calc(-50% + 32px);
}

section.work2 .summary {
    background-color: var(--primary-color);
    /* z-index: -2; */
}

section.work2 .summary .wrapper .front .img1::before {
    background-image: url(../images/galeria/lists-photo-gallery-16-incredible-photos-of-hoi-an-that-put-the-mellow-in-the-yellow.jpg);
}

section.work2 .summary .wrapper .front .img2::before {
    background-image: url(../images/galeria/descarga.jpg);
    background-position: right center;
}

section.work2 .summary .wrapper .front .img3::before {
    background-image: url(../images/galeria/Praying-in-temple-Hcm.jpg);
}

section.work2 .summary .wrapper .front .img4::before {
    background-image: url(../images/galeria/descarga\ \(17\).jpg);
}

section.work2 .back {
    background-color: white;
    border-radius: 3px;
    margin-bottom: var(--margin-big);
    padding: 16px 32px 16px 64px;
    margin-left: -32px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

section.work2 .front {
    z-index: 2;
}

section.work2 .front .gallery {
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    height: auto;
}

section.work2 .book .content {
    padding-right: var(--padding-big);
}

section.work2 .book .content .wrapper {
    padding-right: var(--padding-big);
}

section.work .book .content .wrapper::before {
    right: 0;
}

section.work2 .book .content .title {
    text-align: right;
    margin-right: var(--margin-big);
}

section.work2 .book .content .wrapper .btn-n {
    margin-right: calc(var(--margin-big) * -1 - var(--margin-medium));
    background-color: white;
    align-self: flex-end;
}

section.work2 .book .img::before {
    background-image: url(../images/book-2.png)
}
/* trabajo3 */
section.work3 .intro {
    background-color: var(--primary-color);
}

section.work3 .intro .img::before {
    background-image: url(../images/galeria/img7.jpg);
    margin-right: var(--margin-big);
}

section.work3 .intro .wrapper  {
    padding-left: var(--padding-xxl);
}

section.work3 .intro .wrapper::before {
    left: 32px;
}

section.work3 .intro .wrapper::after {
    left: calc(-50% + 32px);
}

section.work3 .summary .wrapper .front .img1::before {
    background-image: url(../images/galeria/img5.jpg);
}

section.work3 .summary .wrapper .front .img2::before {
    background-image: url(../images/NinhThuan100315-511.jpg);
}

section.work3 .summary .wrapper .front .img3::before {
    background-image: url(../images/galeria/img4.jpg);
}

section.work3 .summary .wrapper .front .img4::before {
    background-image: url(../images/descarga\ \(23\).jpg);
}

section.work3 .back {
    background-color: var(--primary-color);
    border-radius: 3px;
    margin-bottom: var(--margin-big);
    padding: 16px 64px 16px 32px;
    margin-right: -32px;
    box-sizing: border-box;
}

section.work3 .front .gallery {
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    height: auto;
}

section.work3 .book {
    background-color: var(--primary-color);
}

section.work3 .book .content {
    padding-left: var(--padding-big);
}

section.work3 .book .content .wrapper {
    padding-left: var(--padding-big);
}

section.work3 .book .content .wrapper::before {
    left: 0;
}

section.work3 .book .content .wrapper .btn-n {
    margin-left: calc(var(--margin-big) * -1 - var(--margin-medium));
    background-color: var(--primary-color);
}

section.work3 .book .img::before {
    background-image: url(../images/work3.png)
}

section.work3 .book {
    padding-bottom: calc(10% + 32px);
}

/* PREMIOS */
section.title {
    background-color: transparent;
    margin-top: -64px;
    text-align: center;
}

section.awards {
    display: flex;
    flex-flow: column nowrap;
    margin: 10%;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

section.awards::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    border-left: 1px solid black;
}

section.awards > div {
    width: 100%;
    display: flex;
    flex-flow: row;
    position: relative;
    box-sizing: border-box;
}

section.awards > div:nth-child(odd) {
    justify-content: flex-start;
}

section.awards > div:nth-child(even) {
    justify-content: flex-end;
}

section.awards .content {
    width: 50%;
}

section.awards > div .content {
    position: relative;
    box-sizing: border-box;
}

section.awards > div .content::before {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: white;
    z-index: 2;
    top: 0;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
}

section.awards > div:nth-child(odd) .content::before {
    right: -9px;
}

section.awards > div:nth-child(even) .content::before {
    left: -8px;
}

section.awards > div:nth-child(odd) .content span {
    text-align: right;
}

section.awards .item .content {
    padding: var(--padding-medium);
    text-align: justify;
}

section.awards .item .content span {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}